{% extends 'results/base.html' %}
{% block main %}

<div class="row"><div class="col-md-12">
	<h3 class="text-center">{{ page_title }}</h3>
	<br/>
	<p>Здесь учтена далеко не вся работа: например, не учитываются отвеченные письма, составленные и подписанные договоры, раздача призов, поддержка хостинга и так далее.</p>
	<br/><br/>	
	<table class="table table-condensed table-hover">
		<thead>
			<tr class="text-center info">
				<th rowspan="2">Администратор</th>
				<th colspan="2">Серии</th>
				<th colspan="2">Забеги</th>
				<th colspan="2">Дистанции</th>
				<th colspan="2">Бегуны</th>
				<th colspan="2">Документы</th>
				<th colspan="2">Новости</th>
				<th colspan="3">Офиц. результаты</th>
				<th colspan="1">Неоф. результаты</th>
				<th colspan="2">Участники КЛБМатча</th>
				<th colspan="1">Новости в соцсетях</th>
				<th colspan="2">Одобрено присвоений результатов</th>
				<th rowspan="2">Создано КЛБМ-результатов</th>
				<th rowspan="2">Всего сделано</th>
				<th rowspan="2">Всего одобрено</th>
			</tr>
			<tr class="text-right info">
				<th>Созд.</th><!-- Серии -->
				<th>Изм.</th><!-- Серии -->
				<th>Созд.</th><!-- Забеги -->
				<th>Изм.</th><!-- Забеги -->
				<th>Созд.</th><!-- Дистанции -->
				<th>Изм.</th><!-- Дистанции -->
				<th>Созд.</th><!-- Бегуны -->
				<th>Изм.</th><!-- Бегуны -->
				<th>Созд.</th><!-- Документы -->
				<th>Изм.</th><!-- Документы -->
				<th>Созд.</th><!-- Новости -->
				<th>Изм.</th><!-- Новости -->
				<th><abbr title="Число действий типа 'Загрузка результатов на дистанции'">Дист.</abbr></th><!-- Офиц. результаты -->
				<th>Загр.</th><!-- Офиц. результаты -->
				<th>Изм.</th><!-- Офиц. результаты -->
				<th>Созд.</th><!--  -->
				<th>Созд.</th><!--  -->
				<th>Изм.</th><!--  -->
				<th>Созд.</th><!--  -->
				<th>Офиц.</th><!--  -->
				<th>Неоф.</th><!--  -->
			</tr>
		</thead>
		{% for month in months %}
			<tr><td colspan="24"><strong>{{ month.month }}</strong></td></tr>
			{% for user in month.users %}
				<tr class="text-right">
					<td>{% include 'editor/user_name_with_link.html' with person=user.user %}</td>
					<td>{{ user.series_created }}</td>
					<td>{{ user.series_updated }}</td>
					<td>{{ user.events_created }}</td>
					<td>{{ user.events_updated }}</td>
					<td>{{ user.races_created }}</td>
					<td>{{ user.races_updated }}</td>
					<td>{{ user.runners_created }}</td>
					<td>{{ user.runners_updated }}</td>
					<td>{{ user.documents_created }}</td>
					<td>{{ user.documents_updated }}</td>
					<td>{{ user.news_created }}</td>
					<td>{{ user.news_updated }}</td>
					<td>{{ user.off_results_created }}</td>
					<td>{{ user.off_results_uploaded }}</td>
					<td>{{ user.off_results_updated }}</td>
					<td>{{ user.unoff_results_created }}</td>
					<td>{{ user.klb_participants_created }}</td>
					<td>{{ user.klb_participants_updated }}</td>
					<td>{{ user.social_posts_created }}</td>
					<td>{{ user.off_results_approved }}</td>
					<td>{{ user.unoff_results_approved }}</td>
					<td>{{ user.klb_results_created }}</td>
					<td>{{ user.created_total }}</td>
					<td>{{ user.verified_total }}</td>
				</tr>
			{% endfor %}
		{% endfor %}
	</table>
</div></div>
{% endblock %}
