{% extends 'results/base.html' %}
{% load results_extras %}
{% load staticfiles %}
{% block main %}

{% block media_links %}
{% if frmNews %}{{ frmNews.media }}{% endif %}
{% endblock %}

{% include 'results/panel_header_before_title.html' %}
	{% if cloned_event %}
		Клонирование забега
		<a class="underlined" href="{{ cloned_event.get_absolute_url }}">{{ event|safe }}</a>
		в серии
		<a class="underlined" href="{{ event.series.get_absolute_url }}">{{ event.series|safe }}</a>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="{{ event.series.get_editor_url }}">
			<button type="button" class="btn btn-sm btn-primary">Редактировать серию</button>
		</a>
	{% elif event.id %}
		Забег
		<a class="underlined" href="{{ event.get_absolute_url }}">{{ page_title|safe }}</a>
		в серии
		<a class="underlined" href="{{ event.series.get_absolute_url }}">{{ event.series|safe }}</a>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<a class="dash-underlined" href="#documents">{{ n_documents }}&nbsp;документ{{ n_documents|plural_ending_1 }}</a>,
		<a class="dash-underlined" href="#news">{{ n_news }}&nbsp;новост{{ n_news|plural_ending_3 }}</a>,
		<a class="dash-underlined" href="#races">{{ n_races }}&nbsp;дистанци{{ n_races|plural_ending_4 }}</a>
		&nbsp;&nbsp;&nbsp;&nbsp;
		{% include 'results/event_edit_buttons.html' with event_editor_page=1 %}
		&nbsp;&nbsp;&nbsp;&nbsp;
		<a class="underlined" href="{{ event.series.get_old_url }}">
			Карточка на probeg.org
		</a>
	{% else %}
		Создание нового забега в серии
		<a class="underlined" href="{{ event.series.get_absolute_url }}">{{ event.series|safe }}</a>
	{% endif %}
{% include 'results/panel_header_after_title.html' %}

{% for error in frmEvent.non_field_errors %}
	<h4><span class="label label-danger">{{ error|escape }}</span></h4>
{% endfor %}

<form id="frmEvent" method="POST" action="
	{% if event.id %}
		{% url 'editor:event_update' event_id=event.id %}
	{% else %}
		{% if cloned_event %}
			{% url 'editor:event_create' event_id=cloned_event.id %}
		{% else %}
			{% url 'editor:event_create' series_id=event.series.id %}
		{% endif %}
	{% endif %}"
>
	{% csrf_token %}
	<table class="table table-condensed table-borderless">
		{% include 'results/form_field_tr.html' with field=frmEvent.name %}
		{% include 'results/form_field_tr.html' with field=frmEvent.number %}
		{% include 'results/form_field_tr.html' with field=frmEvent.country %}
		{% include 'results/form_field_tr.html' with field=frmEvent.region %}
		{% include 'results/form_field_tr.html' with field=frmEvent.city_id series_value=event.series.city.name %}
		{% include 'results/form_field_tr.html' with field=frmEvent.start_place series_value=event.series.start_place %}
		{% if 0 %}{% include 'results/form_field_tr.html' with field=frmEvent.city_finish series_value=event.series.city_finish.name %}{% endif %}
		{% include 'results/form_field_tr.html' with field=frmEvent.start_date %}
		{% include 'results/form_field_tr.html' with field=frmEvent.surface_type series_value=event.series.get_surface_type_display %}
		{% include 'results/form_field_tr.html' with field=frmEvent.finish_date %}
		{% include 'results/form_field_tr.html' with field=frmEvent.arrival_date %}
		{% include 'results/form_field_tr.html' with field=frmEvent.start_time %}
		{% include 'results/form_field_tr.html' with field=frmEvent.announcement %}
		{% include 'results/form_field_tr.html' with field=frmEvent.email %}
		{% include 'results/form_field_tr.html' with field=frmEvent.contacts %}
		{% include 'results/form_field_tr.html' with field=frmEvent.url_registration %}
		{% include 'results/form_field_tr.html' with field=frmEvent.url_site series_value=event.series.url_site series_value_link=1 %}
		{% include 'results/form_field_tr.html' with field=frmEvent.url_vk series_value=event.series.url_vk series_value_link=1 %}
		{% include 'results/form_field_tr.html' with field=frmEvent.url_facebook series_value=event.series.url_facebook series_value_link=1 %}
		{% include 'results/form_field_tr.html' with field=frmEvent.cancelled %}
		{% include 'results/form_field_tr.html' with field=frmEvent.comment %}
		{% include 'results/form_field_tr.html' with field=frmEvent.comment_private %}
		{% include 'results/form_field_tr.html' with field=frmEvent.invisible %}
		{% include 'results/form_field_tr.html' with field=frmEvent.not_in_klb %}
		{% comment %}{% include 'results/form_field_tr.html' with field=frmEvent.distances_raw %}{% endcomment %}
		{% include 'results/form_field_tr.html' with field=frmEvent.source %}
		{% include 'results/form_field_tr.html' with field=frmEvent.date_added_to_calendar %}

		{% if event.id %}
			<tr>
				<td class="text-right"><strong>Кто добавил забег на сайт:</strong></td>
				<td>{% include 'editor/user_name_with_link.html' with person=frmEvent.instance.created_by %}</td>
			</tr>
		{% endif %}
	</table>
	Города старта и финиша указываем только в случае, если они отличаются от таковых серии (или не указаны там вовсе).
	<input type="submit"
		name="frmEvent_submit"
		value="{% if event.id %}Сохранить{% else %}Создать{% endif %}"
		class="btn btn-success"
	/>
</form>
<script language="javascript">
var ajax_city_prefix = "id_";
var ajax_city_fullname = 1;
{% if event.city %}
var ajax_city_default = "{{ event.city.id }}";
{% endif %}
</script>

{% include 'results/panel_footer.html' %}

{% if event.id %}
	<a name="documents"></a>
	{% include 'results/panel_header.html' with title='Документы' %}
	<form id="frmDocuments" method="POST" action="{% url 'editor:event_documents_update' event_id=event.id %}"
		class="form-inline" enctype="multipart/form-data"
	>
		{{ frmDocuments.management_form }}{% csrf_token %}
		<ul class="nav nav-tabs">
			{% for form in frmDocuments %}
				<li{% if forloop.last %} class="active"{% endif %}>
					<a data-toggle="tab" href="#doc{{ forloop.counter }}">
						{% if form.instance.id %}{{ form.instance }}{% else %}Новый документ{% endif %}
					</a>
				</li>
			{% endfor %}
		</ul>
		<div class="tab-content">
			{% for form in frmDocuments %}
				<div id="doc{{ forloop.counter }}" class="tab-pane fade{% if forloop.last %} in active{% endif %}">
					{{ form.id }}
					{% for error in form.non_field_errors %}
						<h4><span class="label label-danger">{{ error|escape }}</span></h4>
					{% endfor %}
					<div class="row">
						<div class="col-md-4">
							<table class="table table-condensed table-borderless">
								{% if form.instance.id %}
									{% include 'results/form_field_tr.html' with field=form.DELETE label='Отметьте, чтобы удалить документ целиком' %}
									<tr>
										<td class="text-right"><strong>Содержимое документа:</strong></td>
										<td>{{ form.instance.get_document_type_display }}
											{{ form.document_type.as_hidden }}
										</td>
									</tr>
								{% else %}
									{% include 'results/form_field_tr.html' with field=form.document_type %}
								{% endif %}
								{% include 'results/form_field_tr.html' with field=form.author %}
								{% include 'results/form_field_tr.html' with field=form.comment %}
								{% if form.instance.id %}
									<tr>
										<td class="text-right"><strong>Размер файла на сервере в байтах:</strong></td>
										<td>{{ form.instance.file_size }}</td>
									</tr>
									<tr>
										<td class="text-right"><strong>Добавил документ:</strong></td>
										<td>{% include 'editor/user_name_with_link.html' with person=form.instance.created_by %}</td>
									</tr>
								{% endif %}
							</table>
						</div>
						<div class="col-md-7 col-md-offset-1">
							<table class="table table-condensed table-borderless">
								<tr><td colspan=2 class="text-left">Выберите файл со своего диска для загрузки:</td></tr>
								{% include 'results/form_field_tr.html' with field=form.upload %}
								<tr><td colspan=2 class="text-left">Или укажите URL, где расположен документ:</td></tr>
								{% include 'results/form_field_tr.html' with field=form.url_original %}
								<tr><td colspan=2>
									Также можно указать и файл, и URL, по которому этот файл доступен;
									тогда файл загрузится с диска. Если же вы указываете только URL,
									то чтобы попытаться закачать файл на сервер, поставьте галочку:
								</td></tr>
								{% include 'results/form_field_tr.html' with field=form.try_to_load %}
								{% include 'results/form_field_tr.html' with field=form.hide_local_link %}
							</table>
							{% for hidden in form.hidden_fields %}
								{{ hidden }}
							{% endfor %}
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
		<input type="submit" name="frmDocuments_submit" value="Сохранить изменения в документах" class="btn btn-success"/>
	</form>
	{% include 'results/panel_footer.html' %}

	<a name="races"></a>
	{% include 'results/panel_header.html' with title='Дистанции' %}
	<form id="frmRaces" method="POST" action="{% url 'editor:event_distances_update' event_id=event.id %}" class="form-inline">
		{{ frmRaces.management_form }}{% csrf_token %}
		<ul class="nav nav-tabs">
			{% for form in frmRaces %}
				<li{% if forloop.first %} class="active"{% endif %}>
					<a data-toggle="tab" href="#dist{{ forloop.counter }}">
						{% if form.instance.id %}{{ form.instance.distance_with_heights }}{% else %}Новая дистанция{% endif %}
					</a>
				</li>
			{% endfor %}
		</ul>
		<div class="tab-content">
			{% for form in frmRaces %}{% with race=form.instance %}
				<div id="dist{{ forloop.counter }}" class="tab-pane fade{% if forloop.first %} in active{% endif %}">
					{{ form.id }}
					{% for error in form.non_field_errors %}
						<h4><span class="label label-danger">{{ error|escape }}</span></h4>
					{% endfor %}
					<div class="row">
						<div class="col-md-4">
							<table class="table table-condensed table-borderless">
								{% include 'results/form_field_tr.html' with field=form.distance %}
								{% include 'results/form_field_tr.html' with field=form.distance_real %}
								{% include 'results/form_field_tr.html' with field=form.precise_name %}
								{% include 'results/form_field_tr.html' with field=form.gps_track %}
								{% include 'results/form_field_tr.html' with field=form.surface_type event_value=event.get_surface_type_name %}
								{% include 'results/form_field_tr.html' with field=form.has_no_results %}
								{% include 'results/form_field_tr.html' with field=form.is_for_handicapped %}
								{% include 'results/form_field_tr.html' with field=form.is_multiday %}
								{% include 'results/form_field_tr.html' with field=form.comment %}
								{% include 'results/form_field_tr.html' with field=form.comment_private %}
								{% comment %}{% include 'results/form_field_tr.html' with field=form.loaded %}{% endcomment %}
							</table>
						</div>
						<div class="col-md-4">
							<table class="table table-condensed table-borderless">
								{% if race.id %}
									{% if race.klb_result_set.exists %}
										<tr><td colspan=2>
											Дистанцию нельзя удалить — на ней есть {{ race.klb_result_set.count }} результат{{ race.klb_result_set.count|plural_ending_1 }}
											в зачёт КЛБМатчей.
										</td></tr>
									{% else %}
										{% include 'results/form_field_tr.html' with field=form.DELETE label='Отметьте, чтобы удалить дистанцию' %}
										{% if race.result_set.count %}
											<tr><td colspan=2>
												(Будут удалены и {{ race.result_set.count }}
												результат{{ race.result_set.count|plural_ending_1 }} на этой дистанции!)
											</td></tr>
										{% endif %}
									{% endif %}
								{% endif %}
								<tr><td colspan=2>Поля в этом столбце заполняются автоматически при загрузке результатов из протокола:</td></tr>
								{% include 'results/form_field_tr.html' with field=form.n_participants %}
								{% include 'results/form_field_tr.html' with field=form.n_participants_finished %}
								{% include 'results/form_field_tr.html' with field=form.n_participants_finished_men %}
								<tr><td colspan=2>&nbsp;</td></tr>
								{% include 'results/form_field_tr.html' with field=form.winner_male_lname %}
								{% include 'results/form_field_tr.html' with field=form.winner_male_fname %}
								{% include 'results/form_field_tr.html' with field=form.winner_male_city %}
								{% include 'results/form_field_tr.html' with field=form.winner_male_result %}
								<tr><td colspan=2>&nbsp;</td></tr>
								{% include 'results/form_field_tr.html' with field=form.winner_female_lname %}
								{% include 'results/form_field_tr.html' with field=form.winner_female_fname %}
								{% include 'results/form_field_tr.html' with field=form.winner_female_city %}
								{% include 'results/form_field_tr.html' with field=form.winner_female_result %}
							</table>
						</div>
						<div class="col-md-4">
							<table class="table table-condensed table-borderless">
								{% include 'results/form_field_tr.html' with field=form.start_date %}
								{% include 'results/form_field_tr.html' with field=form.start_time %}
								{% include 'results/form_field_tr.html' with field=form.finish_date %}
								{% include 'results/form_field_tr.html' with field=form.elevation_meters %}
								{% include 'results/form_field_tr.html' with field=form.descent_meters %}
								{% include 'results/form_field_tr.html' with field=form.altitude_start_meters %}
								{% include 'results/form_field_tr.html' with field=form.altitude_finish_meters %}
								{% include 'results/form_field_tr.html' with field=form.start_lat %}
								{% include 'results/form_field_tr.html' with field=form.start_lon %}
								<tr><td colspan=2>&nbsp;</td></tr>
								{% include 'results/form_field_tr.html' with field=form.price %}
								{% include 'results/form_field_tr.html' with field=form.price_can_change %}
								{% include 'results/form_field_tr.html' with field=form.itra_score %}
							</table>
							{% for hidden in form.hidden_fields %}
								{{ hidden }}
							{% endfor %}
						</div>
					</div>
				</div>
			{% endwith %}{% endfor %}
		</div> <!-- tab-content -->
		<input type="submit" name="frmRaces_submit" value="Сохранить изменения в дистанциях" class="btn btn-success"/>
	</form>
	{% include 'results/panel_footer.html' %}

	<a name="news"></a>
	{% include 'results/panel_header.html' with title='Новости' %}
	<form id="frmNews" method="POST" action="{% url 'editor:event_news_update' event_id=event.id %}"
		class="form-inline" enctype="multipart/form-data"
	>
		{{ frmNews.management_form }}{% csrf_token %}
		<ul class="nav nav-tabs">
			{% for form in frmNews %}
				<li
					{% if news_id %}
						{% if news_id == form.instance.id %}
							 class="active"
						{% endif %}
					{% elif forloop.last %}
						class="active"
					{% endif %}
				>
					<a data-toggle="tab" href="#news{{ forloop.counter }}">
						{% if form.instance.id %}{{ form.instance|safe|default:'(без названия)' }}{% else %}Новая новость{% endif %}
					</a>
				</li>
			{% endfor %}
		</ul>
		<div class="tab-content">
			{% for form in frmNews %}{% with news=form.instance %}
				<div id="news{{ forloop.counter }}"
					{% if news_id %}
						{% if news_id == form.instance.id %}
							class="tab-pane fade in active"
						{% else %}
							class="tab-pane fade"
						{% endif %}
					{% elif forloop.last %}
						class="tab-pane fade in active"
					{% else %}
						class="tab-pane fade"
					{% endif %}
				>
					{{ form.id }}
					<div class="row">
						<div class="col-md-5">
							<table class="table table-condensed table-borderless">
								{% for error in form.non_field_errors %}
									<h4><span class="label label-danger">{{ error|escape }}</span></h4>
								{% endfor %}
								{% if news.id %}
									<tr>
										<td class="text-right">
											Ссылка на новость:
										</td>
										<td style="vertical-align: bottom;">
											<a href="{{ news.get_absolute_url }}">{{ news.title|safe|default:'без названия' }}</a>
										</td>
									</tr>
									{% include 'results/form_field_tr.html' with field=form.DELETE label='Удалить новость' %}
								{% endif %}
								{% include 'results/form_field_tr.html' with field=form.is_for_social %}
								{% include 'results/form_field_tr.html' with field=form.title td_class='input-100' %}
								{% include 'results/form_field_tr.html' with field=form.author td_class='input-100' %}
								{% include 'results/form_field_tr.html' with field=form.date_posted td_class='input-100' %}
								{% include 'results/form_field_tr.html' with field=form.image %}
								{% if news.id %}
									<tr>
										<td class="text-right"><strong>Кто добавил новость на сайт:</strong></td>
										<td>{% include 'editor/user_name_with_link.html' with person=news.created_by %}</td>
									</tr>
								{% endif %}
							</table>
							{% for hidden in form.hidden_fields %}
								{{ hidden }}
							{% endfor %}
						</div>
						<div class="col-md-7">
							{{ form.content }}
							{% for error in form.content.errors %}
								<h4><span class="label label-danger">{{ error|escape }}</span></h4>
							{% endfor %}
						</div>
					</div>
				</div>
			{% endwith %}{% endfor %}
		</div>
		<input type="submit" name="frmNews_submit" value="Сохранить изменения в новостях" class="btn btn-success"/>
	</form>
	{% include 'results/panel_footer.html' %}

	{% if races %}
		{% include 'results/panel_header.html' with title='Результаты забегов в серии' %}
			{% include 'tools/series_results_by_distance.html' %}
		{% include 'results/panel_footer.html' %}
	{% endif %}

	{% if is_admin %}
		{% include 'results/panel_header.html' with title='Переместить забег в другую серию' %}
		После запуска забег «{{ event }}» (id {{ event.id }})
		будет перенесён из текущей серии «{{ event.series }}» в ту, id которой Вы укажете в поле.
		<p/>
		<form id="frmForSeries" method="POST" action="{{ event.get_change_series_url }}" class="form-inline">
			{% csrf_token %}
			{% for field in frmForSeries %}
				{% include 'results/form_field.html' with field=field %}
			{% endfor %}
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<input type="submit" name="frmForSeries_submit" value="Переместить забег «{{ event }}»" class="btn btn-warning"/>
		</form>
		{% include 'results/panel_footer.html' %}

		{% if event.has_dependent_objects %}
			{% include 'results/panel_header.html' with title='Заменить текущий забег на другой и удалить текущий' %}
			<p>После запуска все дистанции, документы и новости забега «{{ event }}» (id {{ event.id }})
			будут перенесены в выбранный ниже забег в таблицах ProbegDist и dj_document, после чего текущий забег будет удалён.</p>
			<p>Будьте очень осторожны!</p>
			<p>Чтобы полностью удалить забег, нужно сначала удалить все относящиеся к нему документы, дистанции и новости. После этого здесь появится нужная кнопка.</p>
			<form id="frmForEvent" method="POST" action="{{ event.get_delete_url }}" class="form-inline">
				{% csrf_token %}
				{% for error in frmForEvent.non_field_errors %}
					<h4><span class="label label-danger">{{ error|escape }}</span></h4>
				{% endfor %}
				{% for field in frmForEvent %}
					{% include 'results/form_field.html' with field=field %}
				{% endfor %}
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<input type="submit" name="frmForEvent_submit" value="Удалить забег «{{ event }}»" class="btn btn-danger"/>
			</form>
			{% include 'results/panel_footer.html' %}
		{% else %}
			<form id="frmForEvent" method="POST" action="{{ event.get_delete_url }}" class="form-inline">
				{% csrf_token %}
				{% for error in frmForEvent.errors %}
					<h4><span class="label label-danger">{{ error|escape }}</span></h4>
				{% endfor %}
				<input type="submit" name="frmForEvent_submit" value="Удалить забег «{{ event }}»" class="btn btn-danger"/>
			</form>
		{% endif %}
	{% endif %}
{% endif %} <!-- event.id -->
{% endblock %}
