{% extends 'results/base.html' %}
{% load staticfiles %}
{% block main %}
<div class="row">
	<div class="col-md-8 col-md-offset-1 col-sm-12 col-sm-offset-0">
		<h3 class="text-center">{{ page_title }}</h3>
		<br/>
<p><strong>После вставки в письмо любого шаблона обязательно прочитайте его:
<br/>нет ли лишних предложений?
<br/>согласованы ли слова?</strong></p>

<a name="template1"></a>
<h3>1. Выдали права новому организатору забега <small>Добавил А.Ч. Последнее изменение 27.06.2018</small></h3>
<p>, добрый день!</p>

<p>Выдали Вам права на серию  ???. Теперь на своей странице http://base.probeg.org/home/ Вы увидите список серий, которые Вы можете редактировать; также у Вас появилось меню редактора с набором доступных действий.</p>
<p>На странице забега увидите теперь синюю кнопку, с помощью которой можно редактировать текущие забеги, а также создавать новые (часто проще всего это сделать, клонировав один из старых с помощью соответствующей кнопки). На той же странице внизу можно создать новость о забеге - например, анонс до забега и пост-релиз после; она сразу появится в нашей основной ленте. После этого со страницы забега Вы сможете отправить эту новость в наши группы в соцсетях.</p>

<p>Учтите, что почти любые изменения будут сразу видны всем пользователям.</p>

<p>Сначала обязательно прочитайте вводный текст http://base.probeg.org/editor/memo_editor/ о том, как устроен сайт.
И пишите, если будут любые вопросы; постараемся отвечать максимально быстро.</p>

<p>Заодно можете собрать вместе свои результаты, если захотите. На http://base.probeg.org/find_results/ , наверное, большинство - как раз Ваши?</p>
<br/><br/>

<a name="template2"></a>
<h3>2. Выдали права новому руководителю клуба</h3>
<p>, добрый день!</p>

<p>Рады видеть Вас на сайте.</p>

<p>Клуб «???» теперь виден всем на странице клубов http://base.probeg.org/clubs/ . Посмотрите, всё ли правильно отображается; если захотите что исправить, это можно сделать, нажав кнопку «Редактировать» на странице клуба.</p>

<p>Будем рады видеть вас среди участников КЛБМатча. Подробнее о нём — на странице http://base.probeg.org/klb/2020/invitation/ .</p>

<p>Также у нас новая возможность: вы можете прямо со страниц бегунов вашего клуба (их легко найти поиском на http://base.probeg.org/runners/ ) добавлять его членов на страницу клуба; а мы упростим вам слежение за их выступлениями и за рекордами клуба по каждому году и за всегда. Подробнее о всех возможностях — на странице http://base.probeg.org/clubs/about .</p>

<p>Пишите, если будут любые вопросы!</p>
<br/><br/>

<a name="template3"></a>
<h3>3. Человеку, который хочет добавить на сайт серию забегов</h3>
<p>, добрый день!</p>

<p>Отличное дело.</p>

<p>1. Регистрируетесь у нас на http://base.probeg.org/login или заходите через любую соцсеть</p>

<p>2. На странице календаря http://base.probeg.org/races/ жмете "Сообщить о новой серии забегов"</p>

<p>3. Вводите все данные; если Вы — организатор забега, не забудьте поставить соответствующую галочку в самом низу.</p>

<p>4. Забег сразу появится в календаре. Если Вы поставили галочку, на странице забега у Вас сразу появятся синие кнопки для изменения любой информации о нём.</p>

<p>5. Если нажмете на "Действия с забегом" -> "Редактировать забег", там внизу будет раздел про новости. Можете добавить новость и приложить фотографию - и новость появится в нашей основной ленте. А после этого на странице забега ещё и сможете отправить её парой кликов в наши соцсети.</p>

<p>Пишите, если будут любые вопросы!</p>
<br/><br/>

<a name="template3a"></a>
<h3>3а. Человеку, который хочет добавить на сайт серию забегов — письмо покороче</h3>
<p>, добрый день!</p>

<p>Отличное дело! Быстрее всего будет, если Вы сами зарегистрируетесь у нас на https://base.probeg.org/login или зайдете через любую соцсеть и после этого введёте все данные о забеге на странице https://base.probeg.org/add_new_event/ . Забег сразу появится в нашем календаре.</p>

<p>Если Вы — один из организаторов забега, поставьте соответствующую галочку при его создании. Тогда на странице редактирования забега сможете добавить новость о нём, и она сразу появится в основной нашей ленте.</p>

<p>Пишите, если будут любые вопросы!</p>
<br/><br/>

<a name="template4"></a>
<h3>4. Пользователю о том, что он может сам добавлять свои результаты</h3>
<p>, добрый день!</p>

<p>Вы зарегистрированы у нас на сайте, так что можете добавлять себе результаты сами, не тратя время на письма нам.</p>
 
<p>Сначала проверьте, что авторизованы на сайте: если справа на зелёной полосе меню написано Ваше имя — всё отлично. Если нет — там будет написано слово "Вход"; жмите туда и заходите через любую соцсеть или с логином и паролем.</p>

<p>Теперь находите в календаре забегов http://base.probeg.org/races/ нужный — по дате, названию или городу, как удобнее. Жмёте у него на нужную дистанцию.</p>

<p>Дальше есть два варианта. Если результаты этого забега мы уже обработали, вы увидите большую таблицу с ними; найдите свой результат и нажмите в строчке с ним на "Это - я". Если не загружены, жмите рыжую кнопку "Добавить свой результат" и заполните форму.</p>

<p>Пишите, если будут любые вопросы!</p>
<br/><br/>

<a name="template5"></a>
<h3>5. Пользователю, которому объединили несколько учётных записей</h3>
<p>, добрый день!</p>

<p>Рады видеть Вас на сайте. Объединили Ваши учётные записи: теперь будете попадать в один и тот же профиль, заходя что по почте и паролю, что через ВКонтакте.</p>

<p>Успешных Вам стартов!</p>
<br/><br/>

<a name="template6"></a>
<h3>6. Пользователю, у которого проблема с зачётом в КЛБМатч из-за клуба в протоколе</h3>
<p>, добрый день!</p>

<p>Сейчас в протоколе ??? у Вас указан клуб ???, а ??? не упомянут.</p>

<p>К сожалению, по пункту 9.9 Положения КЛБМатча {% static regulations_link %} (также про это написано в кратких правилах КЛБМатча на странице {{ SITE_URL }}{% url 'results:about_match' year=year %} ), если клуб в протоколе указан, но клуб, за который бегун заявлен в КЛБМатч, не упомянут, то результат в зачёт не идёт.</p>

<p>В послужной список результат всё равно добавили: ???</p>

<p>Вы можете связаться с организаторами; если они поправят клуб в протоколе и выложат новый, напишите нам, и мы посчитаем результат.</p>

<p>Успешных Вам стартов!</p>
<br/><br/>

<a name="template7"></a>
<h3>7. Пользователю, который под видом отчета или фотоальбома прикрепил 1-2 своих фотографии</h3>
<p>, здравствуйте!</p>

<p>Спасибо за интерес к нашему сайту!</p>

<p>К сожалению, наши ресурсы не дают возможности хранить фотографии пользователей.
Вы можете разместить фотографии с забега на любом фотохостинге и прислать нам ссылку на альбом.</p>

<p>Успешных Вам стартов!</p>
<br/><br/>

<a name="template8"></a>
<h3>8. Руководителю клуба — подробно о возможностях сайта, и как добавлять результаты членам клуба</h3>
<p>1. На странице клуба http://base.probeg.org/club/??? есть кнопка «Редактировать»; можете добавить или уточнить данные о клубе. Также основная информация о клубе отображается на общей странице клубов http://base.probeg.org/clubs/ .</p>

<p>2. На той же странице есть кнопка для заявки команд в КЛБМатч.</p>

<p>3. На странице команды есть возможности:
<ul>
<li>добавить разом много участников из прошлогодней команды</li>
<li>добавлять по одному новых участников</li>
<li>удалять участников, у которых пока нет результатов</li>
<li>перемещать участников между командами (до 31 мая; это если заявите несколько команд).</li>
</ul>

<p>4. Также Вы можете добавлять всем участникам команд клуба их результаты — как на забегах текущего года, так и на любых старых забегах, для истории. Способ добавления немного отличается в зависимости от того, загружены результаты забега к нам целиком или нет.</p>

<p>Если результаты загружены — как, например, на
http://base.probeg.org/race/18535 — то после вкладок с дистанциями вы
увидите вкладку с названием вроде «20 км — привязка к людям». Там для
каждого результата на странице Вы сможете выбрать из выпадающего меню,
к какому участнику клуба привязать данный результат; а если он
подходит для зачёта в КЛБМатч, то будет доступна и галочка «и провести
в КЛБМатч». После этого внизу страницы нужно нажать на большую зелёную
кнопку.
<br/>За раз можно обработать только одну страницу из 100 результатов.
Отметили все нужные результаты на одной странице — привязали — перешли
на следующую страницу. Можно и искать результаты по имени, фамилии,
клубу или результату (фильтр находится прямо над таблицей).</p>

<p>Если же результатов у нас пока нет — как на
http://base.probeg.org/race/17394 — то на странице с нужной дистанцией
увидите слова «Добавить 1 результат(ов) для клуба». Увеличивайте число
до нужного (можно указать с запасом), жмите «Добавить» — а дальше всё
то же самое, только для каждого результата нужно указать и время в указанном формате. Если ссылки на протокол нет на нашем сайте, не забудьте указать ссылку на него, чтобы мы (и все желающие) могли проверить результаты.</p>

<p>Результаты сразу появятся на страницах бегунов (ссылки на их страницы
вы можете найти, выбрав свой клуб на http://base.probeg.org/klb/ ,
затем выбрав конкретного бегуна, после чего нажав на «Все
выступления»). В зачёт КЛБМатча же результат добавится (и посчитаются
очки) после проверки результата администраторами. До тех пор, пока это
не случится, на странице результатов бегуна (а также на странице
самого забега) у этого результата будет метка «КЛБМатч: на модерации».</p>

<p>В случае, если результат не подходит под условия КЛБМатча, мы напишем
Вам письмо с объяснением причин. На всякий случай напомним — согласно
Положению КЛБМатча, для зачёта в матч:</p>

<ul>
<li>дистанция забега должна быть не меньше 9500 м;</li>
<li>протокол с результатами забега должен быть размещён на общедоступной странице в интернете;</li>
<li>если забег проходит в России или Беларуси, информация о нём на нашем сайте должна быть размещена хотя бы за 30 дней до старта;</li>
<li>если забег проходит в родной для участника стране, в протоколе в графе «Клуб» должно быть указано название Вашего клуба,
либо графа «Клуб» должна быть пустой;</li>
<li>стартовать на конкретной дистанции должны хотя бы два человека.</li>
</ul>

<p>Кроме того, если Вы сообщаете нам о результате, после которого прошло
больше 3 месяцев, и клуб в протоколе не указан, то будут учтены только
бонусы.
<br/>Полностью условия зачёта результата записаны в разделе 8 Положения
матча: {% static regulations_link %} , рекомендуем их иногда проглядывать.</p>

<p>Что делать, если нужного забега вообще нет на нашем сайте?
<br/>Если нашлась нужная серия, то нет забега в нужный год, жмите на
странице серии на жёлтую кнопку «Сообщить о ещё одном забеге в серии».
<br/>Если же серии нет вообще, жмите на жёлтую кнопку «Сообщить нам о
забеге, которого нет в базе» на странице поиска забегов
http://base.probeg.org/races/ . Только сначала хорошенько проверьте —
если нужный забег проходит в России-Украине-Беларуси, у нас он, скорее
всего, есть.
<br/>Если нужный забег есть, но отсутствует нужная дистанция — пока
придется написать нам письмо. Это, кстати, можно сделать, не уходя с
сайта - нажав «Написать нам письмо» в меню «Ещё».</p>

<p>При любых вопросах пишите, мы постараемся отвечать на вопросы
максимально быстро.
<br/>Сами участники матча, кстати, тоже могут добавлять свои результаты на
сайт. Если расскажете им о такой возможности, сможете сэкономить себе
ещё больше времени.</p>
<br/><br/>

<a name="template9"></a>
<h3>9. Если зарегистрируетесь, дадим права</h3>
<p>Если зарегистрируетесь у нас на http://base.probeg.org/login или просто зайдётё через любую соцсеть, выдадим Вам права, и сможете сами добавлять информацию и новости о будущих забегах.
</p>

<p>Успешных Вам стартов!</p>
<br/><br/>

<a name="template10"></a>
<h3>10. Организатору, который хочет разместить у нас новость о забеге</h3>
<p>, здравствуйте!</p>

<p>У нас на сайте много нового. Теперь добавлять анонсы забегов и новости о прошедших забегах прямо в основную ленту сайта, а также в соцсети могут сами организаторы забегов!</p>

<p>Зарегистрируйтесь у нас на http://base.probeg.org/login (или зайти через любую соцсеть) и напишите нам, выдадим нужные права.</p>
<br/><br/>

<a name="template11"></a>
<h3>11. Капитану, зря отправившему результат на модерацию — клуб не тот (не отправляйте, если результат присоединил робот!)</h3>
<p>, добрый день!</p>

<p>У ??? в протоколе ??? указан клуб ???, а ??? не упомянут. Так что результат в зачёт КЛБМатча пока не идёт; результат к ??? всё равно привязали, на его странице ??? он уже есть.</p>

<p>Пожалуйста, обращайте на это внимание при добавлении результатов в КЛБМатч. Вся нужная информация есть на странице привязки результатов к участникам матча.</p>
<br/><br/>

<a name="template12"></a>
<h3>12. Члену клуба: теперь можете добавлять результаты за сокомандников — если результаты к нам НЕ загружены</h3>
<p>, добрый день!</p>

<p>Теперь Вы можете внести такие результаты сами! И это даже быстрее, чем писать нам письмо об этом.</p>

<p>На странице ??? указываете в текстовом поле, сколько результатов хотите добавить, жмете "Добавить", и в появившейся форме вводите результаты и ссылку на протокол.</p>

<p>Пишите, если будут любые вопросы!</p>
<br/><br/>

<a name="template13"></a>
<h3>13. Члену клуба: теперь можете добавлять результаты за сокомандников — если результаты к нам загружены</h3>
<p>, добрый день!</p>

<p>Теперь Вы можете добавлять результаты сокомандникам сами! И это даже быстрее, чем писать нам письмо об этом.</p>

<p>На странице ??? жмёте на вкладку "привязка к людям" у нужной дистанции и выбираете у нужных результатов в контекстном меню, кому их привязать. Не забывайте ставить галочку тем результатам, которые хотите отправить на модерацию в КЛБМатч.</p>

<p>Пишите, если будут любые вопросы!</p>
<br/><br/>
	</div>
	<div class="col-md-3 col-sm-4">
		{% include 'results/panel_header.html' with title='Содержание' style='default' %}
			<p><a href="#template1">1. Выдали права новому организатору забега</a></p>
			<p><a href="#template2">2. Выдали права новому руководителю клуба</a></p>
			<p><a href="#template3">3. Человеку, который хочет добавить на сайт серию забегов</a></p>
			<p><a href="#template3a">3а. Человеку, который хочет добавить на сайт серию забегов — письмо покороче</a></p>
			<p><a href="#template4">4. Пользователю о том, что он может сам добавлять свои результаты</a></p>
			<p><a href="#template5">5. Пользователю, которому объединили несколько учётных записей</a></p>
			<p><a href="#template6">6. Пользователю, у которого проблема с зачётом в КЛБМатч из-за клуба в протоколе</a></p>
			<p><a href="#template7">7. Пользователю, который под видом отчета или фотоальбома прикрепил 1-2 своих фотографии</a></p>
			<p><a href="#template8">8. Руководителю клуба — подробно о возможностях сайта, и как добавлять результаты членам клуба</a></p>
			<p><a href="#template9">9. Если зарегистрируетесь, дадим права</a></p>
			<p><a href="#template10">10. Теперь организаторы забегов сами выкладывают новости</a></p>
			<p><a href="#template11">11. Капитану, зря отправившему результат на модерацию — клуб не тот</a></p>
			<p><a href="#template12">12. Члену клуба: теперь можете добавлять результаты за сокомандников — если результаты к нам НЕ загружены</a></p>
			<p><a href="#template13">13. Члену клуба: теперь можете добавлять результаты за сокомандников — если результаты к нам загружены</a></p>
		{% include 'results/panel_footer.html' %}
	</div>
</div>
{% endblock %}
