{% extends 'results/base.html' %}
{% block main %}

<h3>Рекомендации по написанию названий и текстов</h3>

<ol>
<li>
Стараемся никогда не писать слова ЦЕЛИКОМ ЗАГЛАВНЫМИ БУКВАМИ. Разве только это является важной составляющей названия.
</li>

<br/>
<li>
Как правило, в русскоязычных названиях с большой буквы пишется только первое слово названия, например:
<br/>
47-й международный зимний марафон «Дорога жизни»
<br/>
Московский полумарафон
</li>

<br/>
<li>
Как правило, в названиях латиницей с большой буквы пишутся все слова названия, кроме служебных частей речи, например:
<br/>
Vienna City Marathon
<br/>
Marathon International de Marrakech
</li>

<br/>
<li>
Наращения порядовых числительных (2-я, 7-го и т.д.) бывают только одно- и двухбуквенными.
<br/>
Наращение должно быть однобуквенным, если последней букве числительного предшествует гласный звук: 2-я (вторая), 3-й (третий).
<br/>
Наращение должно быть двубуквенным, если последней букве предшествует согласный: 7-го (седьмого), 12-му (двенадцатому).
<br/>
Неправильно: 7-ая, 2-ой, 14-ый.
<br/>
Подробнее: <a href="http://new.gramota.ru/spravka/letters/87-rubric-99">http://new.gramota.ru/spravka/letters/87-rubric-99</a>
</li>

<br/>
<li>
Для сложносоставных слов:
<br/>
Правильно: 2-летний. Неправильно: 2-х летний.
<br/>
Правильно: 6-часовой. Неправильно: 6-ти часовой.
</li>

<br/>
<li>
После римских чисел окончания не пишутся: «V забег», а не «V-й забег».
<br/>
Совсем крайний случай: <a href="https://lenta.ru/news/2013/04/19/xyz/">https://lenta.ru/news/2013/04/19/xyz/</a>
</li>

<br/>
<li>
В русскоязычных названиях и вообще текстах лучше использовать «кавычки-ёлочки». Можно настроить многие версии MS Word так, чтобы знаки дюйма сами заменялись на ёлочки: подробнее <a href="https://support.office.com/ru-ru/article/Замена-парных-кавычек-на-прямые-017963a0-bc5f-486b-9c9d-0ec511a8fb8f#bm13">тут</a>.
<br/>
В латинице лучше использовать обычные "знаки дюйма".
<br/>
Подробнее: <a href="http://www.artlebedev.ru/kovodstvo/sections/104/">http://www.artlebedev.ru/kovodstvo/sections/104/</a>
</li>

<br/>
<li>
Для тире очень желательно использовать свой символ «—», а не дефис (он же минус на клавиатуре) «-». Откуда его взять? Многие версии MS Word сами заменяют дефис на тире, если до и после него набраны пробелы. Можно и скопировать его прямо отсюда. Также можно вместо него писать набор символов &amp;mdash; .
<br/>
Когда использовать тире, а когда дефис? Если вы хотите обрамить его пробелами (например, Караганда — Смеловка), точно нужно тире.
<br/>
Если обрамлять пробелами не хотите (Санкт-Петербург, 7-й), нужен скорее всего дефис.
<br/>
При разделении чисел (сезон 2016–17, 3–4 апреля) по-хорошему нужно использовать отдельный знак — короткое тире «–». Но сойдет и обычный дефис.
<br/>
Подробнее: <a href="http://www.artlebedev.ru/kovodstvo/sections/97/">http://www.artlebedev.ru/kovodstvo/sections/97/</a>
</li>

<br/>
<li>
Телефонные номера лучше всего писать в полном виде: +7 916 123-45-67 или 8 916 123-45-67.
<br/>
Скобки ставить не нужно: они имели смысл, когда выделяли код города, который жителям того же города набирать не нужно. Сейчас же коды нужно набирать почти всегда.
<br/>
Группы цифр разделяем обычным дефисом.
<br/>
Подробнее: <a href="http://www.artlebedev.ru/kovodstvo/sections/91/">http://www.artlebedev.ru/kovodstvo/sections/91/</a>
</li>

<br/>
<li>
Между часами и минутами всегда ставим двоеточие: 09:10 или 9:10. Неправильно: 09.10. Например, чтобы точно не перепутать с датой.
<br/>
Так же и с результатами: самый понятный способ написания часов, минут, секунд — 01:23:45. Перед десятыми или сотыми долями секунды ставится точка или запятая: 18:45.70 или 23:45,6.
</li>

<br/>
<li>
Между числом и обозначением единицы измерения всегда ставим пробел: 800 м, 21 км, 42,2 км. Неправильно: 800м, 21км.
</li>

</ol>

Дополняйте!

{% endblock %}
