{% extends 'results/base.html' %}
{% block main %}

<div class="row">
	<div class="col-md-8 col-md-offset-1 col-sm-12 col-sm-offset-0">
		<h3 class="text-center">{{ page_title }}</h3>
		<br/>
<a name="intro"></a>
<h4>Поздравляем!</h4>

<p class="text-justify">Вы получили право на самостоятельную редактуру серии забегов (а может, и нескольких серий) на нашем сайте.</p>

<p class="text-justify">Теперь вы можете сами, не дожидаясь администраторов сайта, добавлять и править информацию о новых пробегах (а также о старых пробегах, если они прошли не больше года назад). Вы можете даже публиковать новости о своих пробегах.</p>

<p class="text-justify">Расскажем по порядку о возможностях и интерфейсе сайта. Мы его сделали совсем недавно; так что поначалу, к сожалению, в его работе возможны ошибки. Если сайт будет вести себя не так, как должен, <strong>обязательно пишите нам</strong> на обычный адрес <a href="mailto:info@probeg.org">info@probeg.org</a>, и мы постараемся исправить проблему как можно скорее.</p>

<p class="text-justify">После многих Ваших действий на сайте вверху экрана будет появляться сообщение на жёлтом, зелёном или красном фоне с информацией о том, что всё хорошо, или о произошедших ошибках. Пожалуйста, всегда читайте, что там написано. Если Вам кажется, что произошло не то, чего вы ждали, – пожалуйста, перебдейте и напишите нам.</p>

<p class="text-justify">Также можно писать нам о любых пожеланиях – если Вам кажется, что какой-то возможности не хватает, или какие-то моменты можно сделать удобнее. Будем Вам очень признательны!</p>
<br/><br/>

<h4>Авторизация</h4>
<p class="text-justify">Для того, чтобы вносить любые изменения, вам нужно зайти на сайт – зарегистрировавшись со своим е-мейлом или через одну из доступных социальных сетей (сейчас доступны ВКонтакте, Facebook и Twitter). Скорее всего, исходный аккаунт у вас будет привязан к е-мейлу. Если вы читаете этот текст, вы уже справились с этим пунктом.</p>
<br/><br/>

<a name="triplet"></a>
<h3>Серии, пробеги, дистанции</h3>
<p class="text-justify">Основные сущности, на которых держится сайт, — это триада: серия пробегов -> пробег -> дистанция на пробеге.</p>

<p class="text-justify">Пробег – это собственно одно мероприятие. У него обязательно заданы название (например, Третий московский марафон) и дата начала (она может не совпадать с датой окончания, например, для суточных пробегов). Приятно, когда указано также и время старта пробега.
<br/>
На одном пробеге может быть одна или больше дистанций (например, на московском марафоне есть две дистанции – 42195 метров и 10 километров). Старт у этих дистанций может быть как одновременно, так и в разное время (и даже в разные дни). В случае, если время старта некоторых дистанций отлично от основного, оно указывается отдельно в свойствах дистанции; иначе вообще не указывайте время старта на дистанции. Это общий принцип сайта: <strong>если какие-то параметры дистанции (или пробега) совпадают с параметрами соответствующего пробега (соответственно, серии) – указывать эти параметры у дистанции (пробега) не надо</strong>. Они унаследуются от «родителя».</p>

<p class="text-justify">Каждый пробег обязательно приписан к какой-то серии пробегов. Обычно пробеги одной серии проходят ежегодно, но совсем необязательно – может быть и реже (если какой-то забег вообще проведён всего однажды, он так и останется единственным в своей серии), и гораздо чаще.
<br/>
В случае, если все пробеги серии обычно стартуют в одном и том же городе, мы указываем у серии этот город, и тогда город пробега указываем, только если он почему-то отличен от обычного (в соответствии с принципом чуть выше). Иначе – если пробеги серии проходят в разных городах (всё время новых, или, как знаменитый марафон <a href="http://base.probeg.org/series/458/">Comrades</a>, города старта и финиша чередуются), не указываем у серии никаких геоданных, и прописываем их отдельно для каждого пробега.</p>
<br/><br/>

<a name="editing"></a>
<h3>Редактура событий и серий</h3>

<p class="text-justify">На <a href="http://base.probeg.org/">вашей странице</a> в разделе «Права на редактуру серий» – полный список доступных Вам серий. Жмите на любую из них; увидите на странице серии несколько синих кнопок – они доступны только редакторам. Вы можете редактировать собственно серию и все забеги серии в будущем и за последний год; кроме того, можете создать в серии новый забег «с нуля» и «клонировать» любой из уже существующих забегов – в последнем случае скопируются все «текстовые» данные забега (не забудьте только указать новое название и новую дату), а также все дистанции. Новости и документы, конечно, не скопируются. Про них сейчас и поговорим.</p>

<p class="text-justify">К каждому забегу можно (на странице редактирования забега) создать сколько угодно дистанций, документов и новостей. Разберём их по очереди, но сначала важное: <strong>каждая кнопка «Сохранить» на странице редактирования пробега или серии сохраняет только то, что внутри соответствующей зелёной рамочки.</strong> То есть несколько дистанций одной кнопкой сохранить можно, а вот и дистанцию, и документ – нет. Если вы внесли изменения в дистанции, документы и новости какого-то забега и нажали кнопку «Сохранить изменения в документах», внесённые правки у дистанций и новостей потеряются. Будьте осторожны!</p>

<h4>Дистанции</h4>

<p class="text-justify">Самая важная составляющая забега. Помимо бессмысленности существования забега без дистанций, важно понимать, что забеги без единой дистанции никогда не отобразятся на новой странице поиска забегов <a href="http://base.probeg.org/races/">http://base.probeg.org/races/</a>.
<br/>
У каждой дистанции достаточно указать её длину. Дистанций очень много, они все отсортированы по единице измерения, а затем по «длине». Единицы измерения есть следующие: метр (самое частое), минута (для забегов с фиксированным временем – например, часовые или суточные пробеги), ступеньки и этажи (для разных странных мероприятий), плавание и эстафета (их длина указывается тоже в метрах). Если вам нужно ввести дистанцию, которой нет в выпадающем меню, откройте страницу «<a href="http://base.probeg.org/editor/distance/create/">Добавить дистанцию</a>» (ссылка на неё есть в выпадающем Меню редактора сверху) и добавьте её. После обновления страницы забега новая дистанция появится в выпадающем меню.</p>

<p class="text-justify">Значения остальных полей дистанции должны быть понятны из названий. Все они необязательны.</p>

<h4>Документы</h4>

<p class="text-justify">Их бывает множество разных – положения, протоколы, схемы трассы и много чего ещё; в разделе «Документы» тоже есть выпадающее меню с полным списком типов документов. Возможно, список неполон, и Вам понадобится добавить что-то другое; напишите нам, мы подумаем, что делать. Для большинства ситуаций имеющихся видов должно хватить.</p>

<p class="text-justify">Под «документом» мы здесь понимаем не просто файл. У документа можно сохранить либо ссылку на внешнюю страницу в интернете (она же URL; должна начинаться на "http://" или "https://"), или сам файл с документом, или и то, и другое.
<br/>
Если документ доступен в интернете, просто введите его адрес в поле "URL документа" и, если его возможно скачать, поставьте галочку «Попытаться загрузить к нам на сервер». Ставить галочку имеет смысл делать почти всегда; исключение – всякие интерактивные протоколы вроде того же <a href="http://moscowmarathon.org/en/moscowmarathon/2015/results/42-km-men/">Московского марафона</a>. Такие скачивать нет смысла, они работают только на своём сервере.
<br/>
Указать URL и скачать файл к нам на диск – самое лучшее, что можно сделать с документом: сохранится и ссылка на первоисточник, и копия файла на случай, если с сайтом забега что-то случится (к сожалению, они очень часто умирают и почти никогда не возвращаются). Правда, есть ограничение: мы не сохраним файл, если его размер больше 20 мегабайт.</p>

<p class="text-justify">Если документ у вас есть только в виде файла, просто нажмите "Выберите файл" и, извините за тавтологию, выберите нужный файл. После сохранения он загрузится к нам на сервер.
<br/>
Что будет, если и выбрать файл на своём компьютере, и ввести URL? Мы загрузим к нам файл с вашего диска, а в качестве ссылки на файл запишем указанный URL. Это может пригодиться, если сервер, где лежит файл, очень слаб или вообще недоступен в данный момент, но точная ссылка Вам известна.</p>

<p class="text-justify">Как удалить ставший ненужным документ? Если поставите галочку «Отметьте, чтобы удалить документ целиком», то документ исчезнет совсем – и ссылка на внешнюю страницу, и файл на нашем диске (если они были). А если поставите галочку «Очистить» у Файла для загрузки, то удалится только файл с нашего диска; ссылка на внешнюю страницу останется всем доступна, и вы сможете – сразу или когда-либо позже – загрузить новый файл вместо прежнего.</p>

<p class="text-justify">Отметим, что можно загрузить несколько документов одного типа; например, протоколов и ссылок на фотоальбомы или отчёты. В таких случаях настоятельно рекомендуем указывать комментарий к каждому из документов этого типа (чем более кратких, тем лучше).</p>

<p class="text-justify">Ссылки на документы первых семи видов (вплоть до Протокола в выпадающем меню) доступны и на странице пробега, и на странице серии в правой колонке. Там же есть ссылки на все отчёты, фотоальбомы, а также новости. О последних – отдельно.</p>

<h4>Новости</h4>

<p class="text-justify">Новости создаются в ещё одном разделе на странице редактирования забега. (Кстати, вверху страницы есть ссылки на эти разделы: в строке вроде «2 документа, 1 новость, 3 дистанции» можно нажать на нужный объект и переместиться к правильному разделу страницы.) У новости обязательно должно быть название и дата публикации (по умолчанию – момент начала работы с новостью, но вы можете изменить её на своё усмотрение).
<br/>
К каждой новости можно прикрепить фотографию (пока всего одну) и указать, слева или справа от новости нужно показать её уменьшенную копию. По клику на эту копию посетители смогут открыть полную версию фотографии. Фотографию можно прикрепить только с вашего компьютера, указать её адрес в интернете не получится.
<br/>
Старайтесь только не публиковать новости слишком часто – например, чаще, чем раз в пару недель. Пока мы постараемся обойтись без численных ограничений и надеемся, они нам не пригодятся. (Конечно, срочную информацию перед забегом – например, о смене места или времени старта – и новость о том, что результаты опубликованы, нужно выкладывать как можно скорее.)</p>

<h4>Документы у серий</h4>

<p class="text-justify">Технически есть возможность создавать документы любого типа и у серий, но смысл имеет, видимо, загружать только логотип. Он будет отображаться в правом верхнем углу страницы серии.</p>

<h4>Удаление серий и забегов</h4>

<p class="text-justify">Вы можете удалить любой забег из ваших серий, прошедший не больше года назад. Будьте осторожны – восстановить удалённый объект будет непросто! Мы делаем периодические бекапы всей информации, так что версию недельной давности восстановить будет возможно (но не мгновенно), а вот если вы сделаете какие-то правки и сразу удалите забег, последнюю версию будет никак не восстановить.</p>

<p class="text-justify">Если у удаляемого объекта есть зависимые объекты (для серий это забеги и документы, для забега – документы, новости, дистанции), то для удаления Вам нужно будет указать id аналогичного объекта (соответственно серии или забега); все зависимые объекты будут перенесены в этот новый объект. Это может пригодиться, если вы хотите объединить две серии в одну или два забега в один. Если же зависимых объектов нет, для удаления достаточно нажать большую красную кнопку внизу страницы редактирования.</p>
<br/><br/>

<a name="cities"></a>
<h3>Города</h3>

<p class="text-justify">У каждой серии и забега можно указать город (или населённый пункт) старта, а также город финиша.
<br/>
Если у серии указан город старта, то город старта у забега нужно указывать, только если он отличается от города старта серии.
<br/>
Город финиша нужно указывать, только если он отличается от города старта.
<br/>
Для выбора города нужно сначала указать регион (если речь идёт о России, Украине или Беларуси) или просто страну (для всех остальных стран).</p>

<p class="text-justify">Если нужного города или населённого пункта нет в списке городов, его можно добавить <a href="http://base.probeg.org/editor/city/create/">тут</a> (ссылка сюда есть в Меню редактора). Там написаны все подробности. Для городов указываем только название; для меньших населённых пунктов – его тип (сокращённо) и район/улус/повят, в котором он находится.</p>

<p class="text-justify">После обновления страницы с редактором серии/забега новый город появится в выпадающих меню.</p>
<br/><br/>

<a name="protocols"></a>
<h3>Обработка протоколов</h3>

<p class="text-justify">Если к пробегу, который вы можете редактировать, прикреплён хотя бы один протокол в формате XLS/XLSX, то на странице пробега (а также содержащей его серии) появится синяя кнопка «Обработка протоколов».</p>

<p class="text-justify">Интерфейс обработки в целом интуитивно понятный, но на всякий случай – вот инструкция:</p>

<p class="text-justify">Сначала выбираете три параметра: какую дистанцию сейчас загружаете (за один раз можно загрузить только одну дистанцию), какой протокол обрабатывать (обычно он всего один, так что выбора и нет) и какой лист из xls-файла брать.</p>

<p class="text-justify">Первый столбец «Считать» – ставите галочки у всех столбцов, которые нужно учесть (можно поставить все галочки махом и потом убрать
лишние, а можно с нажатым Shift выбрать или убрать любой промежуток). Второй столбец «Заголовок?» – выбираете тот, в котором названия
столбцов основной таблицы, просто чтобы было удобнее их заполнять. Если изначально система неправильно угадала строку с заголовком, выберите правильную строку и нажмите вверху или внизу кнопку «Обновить типы колонок и столбцы».</p>

<p class="text-justify">Все белые и голубые ячейки – настоящие, из экселя. Отображаются вообще все ячейки листа. В каждом столбце есть два выпадающих меню. Верхнее – тип данных в этом столбце; стараемся распознавать их по названиям столбцов в строке с заголовком. Второе выпадающее меню – «если сплит» – трогаем, только если тип столбца – «сплит» (т.е. промежуточный результат). Тогда во втором выпадающем меню указываете собственно дистанцию, на которой замерен этот сплит.</p>

<p class="text-justify">Проставили галочки и указали типы столбцов? Жмите «Обновить типы колонок и столбцы». Сверху будет написано число ошибок и предупреждений. Красные надписи в ячейках – это ошибки; пока они есть, вам не дадут загрузить протокол. Если ошибка в типе столбца – вам повезло, поправьте. Если в чём-то другом – вы ничего не можете сделать:), пишите нам. Многообразие протоколов и проблем в них бесконечное...
<br/>
Желтые надписи в ячейках – это предупреждения. Они не мешают загрузке, но проглядите, вдруг там что важное. Например, оно появится, если у человека в графе "результат" пустота – система по умолчанию считает, что он DNF (т.е. стартовал, но не финишировал), но это явно нештатная ситуация.</p>

<p class="text-justify">Если в протоколе после распознавания столбцов нет столбца «пол», то слева от таблицы появится столбец «Женщина?» с галочками, и можно руками его заполнить. Если женщины в протоколе идут подряд, Shift тоже работает.</p>

<p class="text-justify">Если в протоколе после распознавания столбцов нет столбца «категория», то слева от таблицы появится столбец «Категория» – там можно указать категорию руками. Можно ничего не указывать. Тут тоже работает Shift: написали что-то в одно поле, зажали Shift, кликнули в другое – и все поля между ними заполнились новым значением.</p>

<p class="text-justify">Справа в верхнем столбце отображаются настройки импорта, причём только те, что могут вам пригодиться прямо сейчас. Так что обязательно посмотрите перед загрузкой, что там! Пока возможных настроек бывает пять:</p>

<ul>
	<li>если на данную дистанцию уже загружены какие-то результаты – спрашиваем, удалять ли старые при загрузке (или не удалять; или удалять
только конкретный пол);</li>
	<li>если в протоколе больше одной колонки со сплитами – спрашиваем, указаны ли там времена со старта или с предыдущего сплита;</li>
	<li>если в протоколе в колонке «Результат» бывают пустые ячейки – спрашиваем, считать ли их как DNS или как DNF (часто информация об этом
есть в какой-то отдельной колонке или очевидна из каких-то соображений, а поле «Результат» просто пустует);</li>
	<li>если в протоколе есть одинаковые непустые названия групп у мужчин и у женщин (если есть добавленные скриптом столбцы для пола и/или группы, учитываем и их содержимое) — спрашиваем, не нужно ли добавить к названию групп буквы, задающие пол: либо М/Ж, либо M/F. При этом можно добавить буквы либо ко всем группам, либо только к тем, по которым можно опознать пол (т.е. начинающиеся на буквы М, Ч, Ю для мужчин и Ж, F, W, Д, K для женщин).</li>
	<li>«Взять места из протокола, а не проставлять заново» — если поставить галочку, места проставляться не будут, и информация о числе стартовавших и финишировавших и имена победителей сбросятся. Это нужно, если закачиваете только часть результатов. Например, есть загружаете только русскоязычных участников иностранного забега; или если известны времена только тройки призёров.</li>
</ul>

<p class="text-justify">Если повезло и ошибок не осталось, вверху и внизу появится кнопка «Загрузить результаты». Жмите! Протокол из 3000 строк система спокойно берёт за раз; если в вашем протоколе больше результатов, надёжнее разбить загрузку на несколько этапов (просто каждый раз ставить галочки у не более 3000 строк). После загрузки можно нажать вверху на ссылку на закачанные результаты или на ссылку «подробнее», чтобы посмотреть, как система обработала разные типы значений (например, правильно ли разбила полные имена на фамилию, имя, отчество, если они были указаны в одном поле).</p>

<p class="text-justify">Если протокол больше, или при загрузке возникает ошибка 504 Timeout (так бывает, когда сервер сильно нагружен), напишите администраторам — они загрузят протокол в обход веб-интерфейса.</p>
<br/><br/>

<a name="strava"></a>
<h3>Поиск треков в Страве</h3>

<p class="text-justify">Забегам, дистанция которых по нашем данным отличается от заявленной, мы стараемся добавлять ссылку на трек или, лучше, на страницу
в сервисе <a href="http://labs.strava.com/flyby/">Strava Flyby</a> — там собирают вместе треки от всех людей, бежавших конкретную
дистанцию в одно и то же время, например,
как <a href="http://labs.strava.com/flyby/viewer/#674222547?c=v655ev7x&z=E&t=1NhhUX&a=09EvKLT6WCjZAy4o">здесь</a>.</p>

<p class="text-justify">Проще всего дать ссылку, если вы уже зарегистрированы на Страве и сами бежали эту дистанцию (или бежал кто-то из знакомых по Страве).
Тогда на странице нужной пробежки выбираем «Обзор» в меню слева и нажимаем на ссылку «Посмотреть Flybys» —
откроется как раз нужная ссылка.</p>

<p class="text-justify">Иначе нужно сначала найти трек любого участника нужного забега. Входим на сайт <a href="http://strava.com">strava.com</a>
(требуется регистрация). В верхнем меню выбираем «Новинки => Поиск по тренировкам». Открывается окно поиска.</p>

<p class="text-justify">Верхнее поле — «Город, регион». Заполняем в формате «город, регион, страна» или же «город, страна».
Например, «Нефтекамск, республика Башкортостан, Россия» или «Москва, Россия».</p>

<p class="text-justify">Второе поле — «Ключевые слова». Вводим слова, которые скорее всего использовали участники забега.
В небольших городах может быть достаточно таких слов, как «марафон» или «пробег»; в крупных, где много разных забегов, придется попотеть.
Внимание! Это поле различает прописные и строчные буквы. Например в городе «Ижевск, республика Удмуртия, Россия»,
задав поиск по ключевому слову «Рождественский», мы получим 5 ссылок на треки, а по слову «рождественский» — ни одной.</p>

<p class="text-justify">Следующее поле — «Тип»; сюда проставляется из настроек ваш вид активности по умолчанию. Выбираем «Бег».</p>

<p class="text-justify">Далее идут фильтры по длине дистанции, времени её прохождения и набору высоты.</p>

<p class="text-justify">Найдя нужный трек, входим в него и действуем, как описывалось выше для своего (или дружеского) трека.</p>
<br/><br/>

<a name="finish"></a>
<h3>В заключение</h3>

<p class="text-justify">
Ещё раз попросим при обнаружении любых ошибок, а также если вам что-то кажется неудобным, сразу писать нам на <a href="mailto:info@probeg.org">info@probeg.org</a>. Постараемся отвечать как можно быстрее.</p>

<p class="text-justify">
Спасибо, что работаете вместе с нами!</p>

	</div>
	<div class="col-md-3 col-sm-4">
		{% include 'results/panel_header.html' with title='Содержание' style='default' %}
			<p><a href="#intro">Введение</a></p>
			<p><a href="#triplet">Серии, пробеги, дистанции</a></p>
			<p><a href="#editing">Редактура событий и серий</a></p>
			<p><a href="#cities">Города</a></p>
			<p><a href="#protocols">Обработка протоколов</a></p>
			<p><a href="#strava">Поиск треков в Страве</a>{% comment %} <span class="label label-success">New</span>{% endcomment %}</p>
			<p><a href="#finish">В заключение</a></p>
		{% include 'results/panel_footer.html' %}
	</div>
</div>
{% endblock %}
