<div class="row"><div class="col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0">
<h3>Оплата работы на сайте</h3>

<p>Основную работу с сайтом, в которой участвуют все, можно разделить на две части: работа с сайтом и работа с командой.</p>

<p>Давайте договоримся о следующих определениях:</p>

<ol>
	<li>Человек хорошо работает с сайтом, если он:
		<ol type="A">
			<li>Работает (с поступающими письмами, календарём, дизайном чего-либо,
	финансовыми делами, программирует — у кого что) не меньше <strong>6 часов
	в течение каждой недели</strong> (если набирается меньше 6, но не меньше
	3 часов в неделю, то называем это «работой на полставки»).</li>
			<li>И не пропускает полностью больше одного дня подряд (включая
	выходные). Если вы понимаете, что совсем не будете работать два или
	больше дней подряд, нужно написать об этом в общий чат (в идеале — до
	этого промежутка; или хотя бы во время этого промежутка) и написать
	дату, когда планируете вернуться к работе.</li>
			<li>И берет и выполняет задачу хотя бы по одному письму в неделю из
	«подвала Асаны» (скажем, из нижних 20 писем, которые ещё никем не
	заняты).</li>
		</ol>
	</li>
	<p></p>

	<li>Человек хорошо работает с командой, если он отвечает в течение
суток на все вопросы, которые кто-либо из нас явно задаёт всем
(скажем, начинает вопрос со слов «Вопрос всем»). «Не знаю», «Не
разбирался/ась в ситуации и не имею никакого мнения» и так далее —
тоже ответ. Не отвечать на вопросы, заданные, когда вы в отъезде и
предупредили об этом (см. п. 1), можно; если, когда вернетесь и
прочитаете переписку, ответите, хоть и сильно позже — здорово.
	</li>
</ol>

<p></p>
<p>При этом мы понимаем, что некоторые (или даже многие) из нас на деле
работают гораздо больше 6 часов в неделю; и это очень хорошо. Числа выше — просто примерный минимум, чтобы нам самим для себя проводить грань — много я работал(а) на этой неделе, «в половину» или толком не работал.</p>

<p>За работу в таком «полном» объёме над проектом и с командой мы можем с января и до конца 2020 года платить каждому по 5000 рублей в месяц.</p>

<p>Формат «отчётности» <strong>заметно меняется</strong>: до 5 числа каждого месяца вы присылаете на <a href="mailto:alexey.chernov@gmail.com">alexey.chernov@gmail.com</a> письмо, в котором указываете, работали ли вы в предыдущем месяце на полную ставку или на полставки или меньше. Если вы не работали, писать необязательно. В соответствии с ответами, в течение ещё недели (т.е., до 12 числа) мы постараемся всем заплатить.</p>

<p>Напомним, что число действий по некоторым направлениям, которые вы сделали за месяц через сайт, можно посмотреть <a href="{% url 'editor:admin_work_stat' %}">здесь</a>.</p>

<p><i>Опубликовано 11 февраля 2020 г.</i></p>
</div></div>
