{% extends 'results/base.html' %}
{% block main %}

<div class="row">
	<div class="col-md-8 col-md-offset-1 col-sm-12 col-sm-offset-0">
		<h3 class="text-center">{{ page_title }}</h3>
		<br/>

<h3 id="googledocs">1. Важные гугл-документы <small> Если что-то добавляете, пишите другим цветом!
<a href="http://doc.new">Создать новый гугл-документ</a></small></h3>
<p><a href="https://docs.google.com/document/d/1xFwQhrvJ9UgrAk5twBkpC4JVdMWYm6P5YmG2Ls4kk4g">Действия при открытии нового КЛБМатча</a></p>
<p><a href="https://docs.google.com/document/d/1xq2NEM7-w642Z9YzQC1f3T-UnZIBgk1-oaXJHJkiyy4/edit">О регистрации на забеги</a></p>
<p>Оценка забегов пользователями: обсуждения <a href="https://docs.google.com/document/d/1np9PT8tNihA8aIMseIAez2frcofVX54Nv05GjOQhyiQ/edit">в январе 2017</a>, <a href="https://docs.google.com/document/d/1-nWgHoVlBrSyr6qIBKEt5byfAgb69v89J9DwpBoykc4/edit?usp=sharing">в сентябре 2019</a></p>
<p><a href="https://docs.google.com/spreadsheets/d/17JbRcW7P__sB_nkRQZg2DnLoDidFI_CAjQDXoN_DCSI/edit">Призы в КЛБМатч-2016-2017-...</a></p>
<p>Обсуждение положения <a href="https://docs.google.com/document/d/1a8-5-LqHFPjALrxPKaO5u8SJnoezTfkok0rs3jOj9-k/edit?usp=sharing">КЛБМатча-2020</a>,
	<a href="https://docs.google.com/document/d/1lACfJym65JPKoNx-s-39DrYT5v4NgGuaNISztjem-A0/edit?usp=sharing">КЛБМатча-2019</a>,
	<a href="https://docs.google.com/document/d/1CpkQJmcaxjBAAowMZbQbM1uDIefK_6iiLhA_gcyLsXI/edit">2018</a>,
	<a href="https://docs.google.com/spreadsheets/d/1Nx4hoGIqrbuPa7z1GompFjfzEbjQKvxfKE94P-WzORI/edit">2017</a>
</p>

<p>После создания нового документа жмёте справа сверху Share, вводите название документа, потом жмете Advanced,
напротив "Private — Only you can access" жмёте Change, выбираете "On — Anyone with the link" и там же ниже
вместо "Can view" выбираете "Can edit". Жмёте Save, и вам предложат ссылку на этот гугл-док. Её можно вставить в письмо,
и все адресаты смогут править документ.</p>
<br/><br/>

<h3 id="structure">2. Структура сайта</h3>
<a href="{% url 'editor:db_structure' %}">Список всех таблиц с полями</a>
<br/><br/>
<br/><br/>

<h3 id="triplet">3. Серия-забег-дистанция-результат-сплит</h3>
<p>Про эти два раздела можно почитать <a href="{% url 'editor:memo_editor' %}">памятку редактора</a>.</p>
<p></p>
<h4>Как формируется полное поле с названием дистанции</h4>
<p>Оно может выглядеть как «полумарафон», «10 км (+650 м, -350 м, старт 01.05.2019 в 06:00)» или «1234 м (7 неофициальных результатов)».</p>
<p>Вот как оно формируется (по состоянию на июнь 2017; за это отвечает функция <code>distance_with_details</code> класса <code>Race</code>). Пишем название самой дистанции, после чего в скобках через запятую перечисляем следующие поля:</p>
<p>
	а) Поле «Уточнение названия» дистанции, если оно не пусто.
	<br/>
	б) «+ XXXм», где XXX — общий подъём в метрах, если указан.
	<br/>
	в) «- XXXм», где XXX — общий спуск в метрах, если указан.
	<br/>
	г) «тип: XXX», если указан тип забега (шоссе, кросс/трейл, горный бег, препятствия) именно у дистанции.
	<br/>
	д) «время старта: ...», если забег в будущем и указано время старта именно этой дистанции. Указываем дату, если отличается от даты старта всего события, и обязательно время.
	<br/>
	е) «XXX результат(ов)», если у дистанции заполнено поле «Число участников». Если же не заполнено, но есть отдельные результаты, то «XXX неофициальных результат(ов)». Как правило, если загружены результаты из протокола, то число участников возьмём из протокола. Если же вы загрузили протокол с только частью результатов, пожалуйста, руками пропишите полное число участников!
</p>
<p></p>
<h4>Какие наборы полей не могут повторяться</h4>
<p>У серий не могут одновременно совпадать город и название.</p>
<p>У забегов в одной серии не могут одновременно совпадать город, дата старта и время старта.</p>
<p>У дистанций не могут одновременно совпадать тип дистанции и длина.</p>
<p>У стартов на одном забеге не могут одновременно совпадать дистанция и уточнение названия.</p>
<br/><br/>

<h3 id="runners">4. Пользователи сайта, авторизация</h3>
<p>Пользователи сайта хранятся в таблице <code>auth_user</code>. Посмотреть на полный их список можно на странице {% url 'editor:users' %},
редактировать — в Админке django (последний пункт меню «Администратору»).</p>
<p>Новый пользователь может создать пользователя двумя способами: зарегистрировавшись прямо у нас на сайте (введя e-mail, имя и пароль) или зайдя
к нам через любую соцсеть.
В любом случае появится новая запись в таблице auth_user; во втором случае появится и запись в таблице <code>user_social_auth</code>, указывающая,
что запись в такой-то социальной сети с такими-то параметрами имеет право авторизоваться в качестве такого-то пользователя. В какого пользователя
логинится человек, заходя через соцсеть, определяет поле <code>user_social_auth.user_id</code>.</p>
<p>На странице со списком пользователей для каждого указано, может ли он заходить через почту и пароль на сайте (тогда в столбце «Авторизация»
указано «пароль»), а также через какие соцсети он может заходить.</p>
<p>Пользователей сайта крайне не рекомендуется удалять.
Вместо этого просто убираем у пользователя, который больше не нужен, галочку «Активный» через админку Django.</p>
<br/><br/>

<h3 id="combining_users">4А. Пример работы с пользователями: объединение двух пользователей</h3>
<p>Допустим, мы обнаружили, что у нас есть два аккаунта, которые явно создал один и тот же человек — например, у них указан один и тот же адрес
электронной почты (иногда в таких случаях аккаунты могут объединяться автоматически, но не всегда).
Возможно, человек даже успел привязать по несколько своих результатов к каждому из аккаунтов. Как их объединить?</p>
<p>1. Определяем, какой из аккаунтов будем считать основным (назовём его А);
у другого аккаунта (назовём его Б) мы заберём все способы авторизации и результаты и потом сделаем неактивным. Если у одного из аккаунтов есть
пароль, его и берём за основной.
Иначе можно выбрать любой — например, созданный раньше, или к которому есть больше способов входа или результатов.</p>
<p>2. У каждого способа заходить через соцсеть у аккаунта Б меняем id аккаунта с Б на А (нажимаем на "ред" у каждого способа на странице
со списком пользователей и меняем одно id на новое; id берём из левого столбца на той же странице со списком пользователей).</p>
<p>3. У пользователя Б нажимаем «Ред» на странице со списком пользовтелей и убираем галочку «Активный». Возможно, потребуется также
изменить имя пользователя, если оно написано кириллицей (это непонятное требование Django); ничего, исправляем на любое слово латиницей.
Это поле нигде не используется на сайте.</p>
<p>4. Разбираемся с бегунами, привязанными к этим пользователям. Если к пользователю Б вообще не привязан бегун — ура, ничего не надо делать.
Если к пользователю А вообще не привязан — просто заменяем у бегуна, привязанного к Б, id пользователя с Б на А.
<br/>
Если бегуны есть и там, и там, причём с ненулевым числом результатов у обоих, то их можно объединить,
только если для каждого из полей (пользователь сайта, участник КЛБМатча, parkrun ID) оно заполнено не более чем у одного из бегунов А и Б.
<br/>
В данном случае поле «Пользователь сайта»,  скорее всего, будет заполнено у них обоих. Сделайте это поле пустым у бегуна Б — его пользователь
теперь всё равно неактивен и, бедный, никому не нужен. Если есть пересечения и по другим полям, пишите, придумаем, что делать.
</p>
<p>5. Если теперь пересечений по этому списку полей нет, открываем страницу правки бегуна Б и говорим — замените
его везде на бегуна А и удалите бегуна Б. Всё!
</p>
<br/><br/>

<h3 id="combining_klb_persons">4B. Объединение двух участников КЛБМатча</h3>
<p>Здесь теперь всё просто: на странице правки нужного участника КЛБМатча есть раздел для объединения его с другим. В большинстве случаев это работает; если не получилось, напишите в общий чат, поможем.</p>
<br/><br/>

<h3 id="doc_types">5. Типы документов</h3>
<p>Иногда — например, при обработке документов — мелькает поле <code>document_type</code> в форме числа. Перечислим все возможные типы документов:</p>
<p class="text-center">
	<table class="table table-condensed">
		<tr><th>Номер</th><th>Тип документа</th></tr>
		{% for doc_type in doc_types %}
			<tr><td>{{ doc_type.0 }}</td><td>{{ doc_type.1 }}</td></tr>
		{% endfor %}
	</table>
</p>
<br/>
<h3 id="loading_results">6. Загрузка результатов из протокола</h3>
<p>Инструкция по загрузке есть в <a href="{% url 'editor:memo_editor' %}#protocols">памятке редактора</a>.</p>
<br/><br/>

<h3 id="loading_results_what_happens">6А. Что происходит, когда вы загрузили результаты из протокола</h3>
<p>Итак, вы всё проверили и, постучав по дереву, нажали кнопку «Загрузить результаты». Что при этом происходит с базой данных?</p>
<ol>
	<li>Если был выбран пункт «Удалить все результаты» на этой дистанции (либо удалить только мужские или женские результаты), то сначала в специальную табличку <a href="{% url 'editor:db_structure' model_name='results.Lost_result' %}">Lost_result</a> записываем данные для всех удаляемых результатов, у которых был указан бегун или пользователь: имя и результат из старого протокола, id этих бегуна и/или пользователя. После этого удаляем все результаты, какие попросили.</li>
	<li>Загружаем новые результаты. Для каждого результата проверяем: если только что был удалён результат с теми же именем и временем, прописываем нужных бегуна и пользователя у нового результата и удаляем запись из Lost_result.</li>
	<li>Если была включена настройка «Взять места из протокола, а не проставлять заново» — указываем, что результаты загружены не полностью; сбрасываем размеры всех возрастных групп; удаляем числа участников, финишёров, имена и времена победителей. Иначе — указываем, что результаты загружены полностью; заполняем числа участников и финишёров; указываем имена и времена победителей; сохраняем в таблицу <a href="{% url 'editor:db_structure' model_name='results.Category_size' %}">Category_size</a> размеры возрастных групп; проставляем всем места в абсолюте, среди пола, в группе.</li>
	<li>Обновляем список последних загруженных протоколов для отображения на старой и новой главных страницах.</li>
</ol>
<p>Больше ничего при загрузке протокола не делаем, чтобы не случилось таймаута. Остальное происходит при открытии страницы статуса КЛБМатча, см. раздел <a href="#klb_status_what_happens">7А</a>.</p>
<br/><br/>

<h3 id="loading_results_rare">6Б. Тонкие моменты при загрузке результатов</h3>
<h4>Один старт бегуна есть в протоколах на разные дистанции</h4>
<p>Например, человек бежал 100 км, но попал в протокол и по 6-часовом забегу. Решили в таких случаях добавлять в послужной список
оба результата; но в статистику включать только более длинный (в данном случае — 100 км). А у короткого результата нужно нажать «Редактировать» и поставить галочку «Не учитывать в статистике бегуна» (это поле <code>dj_result.do_not_count_in_stat</code> в базе данных).</p>
<p>Когда проставили всем, кому нужно, эту галочку, на затронутых дистанциях (в данном случае 100 км) нажмите кнопку «Обновить статистику участникам». После этого
лишние минуты и километры вычтутся у статистики и у нужных бегунов, и у соответствующих пользователей.</p>
<p></p>
<h4>Нужно перенести старый КЛБ-результат на другую дистанцию</h4>
<p>Например, спортсмена с огр. возможностями, который у нас относился к основной дистанции, нужно перебросить в отдельную дистанцию «марафон (колясочники)».</p>
<p>
а) Создаём эту отдельную дистанцию у забега.
<br/>
б) В базе данных через веб-интерфейс в поле <code>KLBresults.dj_race_id</code> у нужного результата исправляем id дистанции (когда адрес страницы имеет вид /race/NNN, это число NNN — как раз ID дистанции, оно же — уникальный идентификатор в таблице <code>ProbegDist</code>) со старой дистанции на новую.
<br/>
в) открываем <a href="http://base.probeg.org/editor/klb_status/year/2010/">http://base.probeg.org/editor/klb_status/year/2010/</a>; как страница откроется, нужный неофициальный результат должен быть уже создан, а КЛБ-результат — привязан к нему.
</p>
<br/><br/>

<h3 id="klb">7. Обработка результатов в КЛБМатч</h3>
<p>На каждой странице дистанции текущего года, которая может быть проведена в КЛБМатч, есть синяя кнопка «КЛБМатч».
Нажав на неё, вы попадёте на страницу обработки результатов в Матч (например,
<a href="http://base.probeg.org/editor/klb/race/23512/">http://base.probeg.org/editor/klb/race/23512/</a>). Там вы видите не все
результаты забега. Результат попадает туда в двух случаях:</p>
<p>А. Если результат пока не засчитан никому в Матч, и имя и фамилия в
протоколе совпадают с именем и фамилией кого-то из участников
Матча-2016, входивших в число участников Матча на день забега.</p>
<p>Б. Если результат уже засчитан кому-то в КЛБМатч – такие расположены внизу, с синей пометкой «уже засчитан».</p>
<p></p>
<h4>У каких дистанций есть кнопка «КЛБМатч»?</h4>
<p>Сейчас (январь 2017) правила такие:</p>
<ul>
	<li>Год забега должен относиться к числу годов активных КЛБМатчей (сейчас такие — 2016 и 2017, скоро останется только 2017; за это отвечает функция <code>is_active_klb_year</code> в <code>models.py</code>).</li>
	<li>Если забег проходит в России или Украине или Беларуси и добавлен на сайт менее чем за 30 дней до старта, то кнопку не показываем.
		(Если нужно всё равно засчитать, измените дату добавления забега на сайт в настройках забега.)</li>
	<li>Тип дистанции должен быть «метры» или «минуты». Если тип дистанции — «минуты», то кнопку показываем независимо от числа минут.</li>
	<li>Если же тип дистанции — «метры», то официальная длина дистанции должна быть не меньше 10 км, а фактическая длина дистанции
		доложна быть либо не указана вовсе, либо быть не меньше 9800 м.</li>
</ul>
<p></p>
<h4>Правила обработки результатов</h4>
<p></p>
1. Если обрабатываете какую-то дистанцию пробега – проверьте всех
потенциальных участников Матча, даже если зашли всего за одним. После
того, как вы обработаете результат, эта дистанция будет помечена как
обработанная в КЛБМатч, и больше никто не зайдет на неё посмотреть. (А
список самых старых ещё не обработанных в Матч дистанций всегда есть
на странице "Протоколы для загрузки и КЛБМатча" в Меню
администратора.)
<br/>
Если у забега больше 500 участников, то все результаты будут разбиты
на страницы по 500 человек (и упорядочены по фамилии участника в
протоколе). То же самое: если зашли обработать – обрабатывайте все
страницы.
<p></p>
2. Когда результат бегуна нужно засчитывать в матч?
Если забег российский, в протоколе указано хоть что-то в поле "Клуб",
и бегун выступает за какой-то клуб (а не индивидуальный участник), но
названия нужного клуба в протоколе нет (опечатки и сокращения
разрешены) – не засчитываем результат никогда, таковы правила Матча.
Результат может оказаться в Матче только после исправления
организаторами протокола.
<br/>
Если нужный клуб в протоколе указан – засчитываем.
<br/>
Если поле Клуб в протоколе пустое, но указана правильная дата рождения
бегуна, либо ещё по каким-то признакам вы уверены, что это – тот самый
человек – засчитываем.
<br/>
Если в протоколе только имя и город, и никакой дополнительной
информации о человеке у вас нет – не засчитываем! В матче очень много
популярных пар Имя+Фамилия, этой информации недостаточно. Таких
засчитываем только на основании письма нам от клуба или самого
участника.
<p></p>
3. Вся информация о совпадении полей есть в первых двух столбцах.
Система старается сама подсказывать: если она считает, что результат
можно сразу зачесть, то переключатель во втором столбце будет стоять
напротив фамилии подходящего спортсмена (если в матче есть несколько
полных тезок, то там может быть и несколько спортсменов сразу). Если
считает, что информации для засчитывания недостаточно, переключатель
будет в положении "Не засчитывать никому". Но окончательное решение –
за администратором (то есть за вами).
<p></p>
4. Согласно положению Матча, если участник сообщает о своём результате
спустя больше 3 месяцев после забега, то мы ему считаем только бонусы.
<br/>
Есть исключение: если бегун выступает в Матче за клуб, и клуб указан в
протоколе (опечатки и сокращения снова разрешены), то основные очки
считаем всегда, когда бы мы ни узнали о результате.
Если забег старый, то в колонке "Настройки" появится сообщение об
этом, и будет возможность выбрать: считать ли для новых результатов и
бонусы, и очки, или же только бонусы. Таким образом, если вы
обрабатываете старый забег, и части бегунов нужно зачесть основные
очки, а части – нет, то обработайте результаты в два приёма: сначала -
одни, потом (переключив галочку) – остальные.
<p></p>
5. Иногда бывает, что результат в протоколе уже привязан к какому-то
бегуну. В таком случае засчитать ему результат невозможно, и появится
красная надпись вроде "К результату уже привязан другой бегун". Если
вы считаете, что тут какая-то ошибка, и нужно засчитать тому бегуну,
кому система не даёт это сделать, – сразу пишите письмо, будем
разбираться.
<p></p>
6. Если какой-то результат был зачтен по ошибке, то обратите внимание,
что можно удалить результат из Матча двумя способами: поставив или не
поставив галочку "и отвязать результат от бегуна".
Если вы удаляете результат, поскольку не уверены, что бежал тот самый
участник клуба (или уверены, что это был другой человек) – отвязывайте
результат от бегуна.
<br/>
Если же вы уверены, что бежал тот самый человек, и результат не
проходит в матч по каким-то другим причинам (неверное указание клуба в
протоколе, или было решено вообще не учитывать дистанцию в Матче), то
результат стоит оставить привязанным к бегуну.
<p></p>
7. Если у вас будут идеи, как уточнить работу программы или как
сделать её удобнее в пользовании, тоже пишите.
<p></p>
Также полезно иногда проглядывать положение Матча, чтобы представлять,
какие в нём бывают тонкости:
<a href="http://probeg.org/counter/counter.php?book=30">http://probeg.org/counter/counter.php?book=30</a>
<br/><br/>
<h4>В каком случае на странице обработки официальных результатов забега в КЛБМатч у кандидата стоит галочка по умолчанию?</h4>
<br/><br/>
Сейчас (февраль 2017) радио-кнопка выбрана у кандидата, только если выполнены все три условия сразу:
<ul>
	<li>а) После анализа ФИО, возраста, даты рождения из протокола остался ровно один кандидат на зачёт в КЛБМатч.</li>
	<li>б) У этого кандидата ещё нет зачтённых в Матч результатов на этой или других дистанциях этого забега.</li>
	<li>в) Либо это результат из БД результатов не привязан ни к какому бегуну, либо привязан к тому же бегуну, что и наш кандидат.</li>
</ul>
А также одно из следующих условий:
<ul>
	<li>г1) В протоколе указаны правильный год рождения или правильная дата рождения, и либо кандидат — индив. участник, либо у результата в поле «клуб» пусто, либо в этом поле встречаются первые или последние 6 символов названия клуба или команды кандидата.</li>
	<li>г2) Кандидат выступает за какую-то команду, у результата в поле «клуб» что-то написано, и в этом поле встречаются первые или последние 6 символов названия клуба или команды кандидата.</li>
</ul>
<p>Иначе по умолчанию выбран пункт «Не засчитывать никому».</p>
<br/><br/>
<h4>При каких действиях могут измениться очки в КЛБМатче</h4>
<ol>
	<li>Обработка дистанции целиком в КЛБМатч: <code>editor.views.views_klb_race.klb_race_process</code></li>
	<li>Добавление/удаление конкретного официального результата: <code>editor.views.views_result.result_add_to_klb</code>,
		<code>editor.views.views_result.result_delete_from_klb</code></li>
	<li>Добавление отдельных результатов, если целиком протокол не загружен: <code>editor.views.views_klb_race.klb_race_add_results</code></li>
	<li>Одобрение заявок от капитанов команд и отдельных бегунов: <code>editor.views.views_user.action_history</code></li>
	<li>Изменение времени или расстояния у отдельного результата: <code>editor.views.views_result.update_result_connections</code></li>
	<li>Изменение или удаление результатов при замене неоф. результатов на официальные: <code>editor.views.views_klb.connect_klb_results</code></li>
	<li>Изменение официальной и/или фактической дистанции у забега: <code>editor.views.views_event.event_distances_update</code></li>
	<li>Пересчёт всех результатов данного участника: <code>editor.views.views_klb_person.klb_person_refresh_stat</code></li>
	<li>Изменение даты включения или удаления участника из команды: <code>editor.views.views_klb_person.klb_person_participant_update</code></li>
	<li>Привязка администратором результата к пользователю или к самому себе: <code>results.views.views_user.find_results</code></li>
</ol>
<br/><br/>

<h3 id="klb_status_what_happens">7А. Что происходит при открытии страницы «Статус КЛБМатча»</h3>
<br/>
<p>Сначала определяем год, с которым работаем. По умолчанию это год на 1 меньше текущего. Будем обозначать его YEAR. Далее будем работать только с результами забегов, год проведения которого — между YEAR и текущим годом включительно.</p>
<p></p>
<ol>
	<li>Для всех КЛБ-результатов, у которых не указан старт, к которому он относится, пытаемся найти подходящий. Сейчас это почти никогда не нужно — у новых КЛБ-результатов сразу указывается, на каком старте он показан.</li>
	<li>Для всех КЛБ-результатов, не привязанных ни к какому результату в таблице <a href="{% url 'editor:db_structure' model_name='results.Result' %}">Result</a>, пытаемся найти официальный (т.е. загруженный из протокола) или неофициальный (т.е. добавленный самим пользователем или админом) результат с тем же именем и временем.</li>
	<li>Для всех КЛБ-результатов, по-прежнему не привязанных ни к какому результату и показанных на забегах, официальные результаты с которых ещё не загружались (ни полностью, ни частично), создаём неофициальный результат.</li>
	<li>Для каждого неофициального или созданного когда-либо (в прошлом пункте) по КЛБ-результату результата на забегах, официальные результаты которого уже загружены (полностью или частично), пытаемся найти официальный результат с тем же именем и близким временем. Если находим, и результат привязан к КЛБ-результату из активного КЛБМатча, и время у официального результата отличается от неофициального — пересчитываем очки. Если подходящих официальных результатов не нашлось, выводим такой неоф. результат, чтобы админ мог указать, что с ним сделать.</li>
	<li>Каждый удалённый результат из таблицы <a href="{% url 'editor:db_structure' model_name='results.Lost_result' %}">Lost_result</a> пытаемся привязать к официальному результату с тем же именем, фамилией, временем. Если не удаётся — тоже выводим на экран.</li>
</ol>
<p>Обо всех успешных привязках и их числе сообщаем наверху страницы такими зелёными сообщениями.</p>
<br/><br/>

<h3 id="robot">8. Что делает Робот Присоединитель</h3>
<br/>
<p>Каждую ночь, когда город засыпает, в 4 утра просыпается <s>мафия</s>Робот Присоединитель. Он делает следующее:</p>
<ol>
	<li>Обновляет <a href="{% url 'results:races' %}">календарь по умолчанию</a> (все забеги в России, Украине, Беларуси на следующие 31 день).</li>
	<li>Записывает общее число забегов и результатов в нашей базе (пока они пишутся только <a href="{% url 'results_binding' %}">тут</a>, а можно бы и графики рисовать).</li>
	<li>По воскресеньям обновляет статистику всем пользователям сайта (всем бегунам обновлять — слишком надолго занятие; да она и так автоматом обновляется каждый раз, когда с результатами у бегуна что-то происходит. Точнее, почти всегда, так что на всякий случай вот раз в неделю перестраховываемся).</li>
	<li>Проставляются места командам и участникам КЛБМатча (в абсолютном зачете, среди пола, в возрастных группах) — это не делается при изменении результатов, только ночью.</li>
	<li>Для каждого результата, у которого указаны имя, фамилия и дата рождения, но нет бегуна, проверяет, есть ли такой бегун. Если такой бегун ровно один, привязывает к нему результат.</li>
	<li>Для каждой тройки (имя, фамилия, дата рождения), которая встречается хотя бы дважды среди не привязанных к бегунам результатов, смотрит, есть ли уже бегуны с такими же именем, фамилией и годом рождения. Если нету — создаёт нового бегуна и привязывает к нему эти результаты.</li>
	<li>Проверяет, что в базе нету:
		<ul>
			<li>пользователей, у которых нет профиля, т. е. записи в таблице <a href="{% url 'editor:db_structure' model_name='results.User_profile' %}">User_profile</a>;</li>
			<li>активных пользователей, к которым не привязан бегун;</li>
			<li>неактивных пользователей, к которым привязан бегун;</li>
			<li>участников КЛБМатчей, не привязанных ни к какому бегуну;</li>
			<li>результатов КЛБМатчей, не привязанных ни к какому КЛБ-участнику;</li>
			<li>пар участников КЛБМатчей с одинаковыми фамилией, именем, датой рождения.</li>
		</ul>
	</li>
	<li>Проверяет, у каких стартов за сутки уменьшилось число результатов (а то куда-то пропадали по неясным причинам), и записывает обновленные числа результатов в таблицу <a href="{% url 'editor:db_structure' model_name='results.Race_size' %}">Race_size</a>.</li>
	<li>Пишет обо всём этом письмо на info@.</li>
	<li>Всем пользователям, которым за сутки были присоединены результаты, у которых подтверждён емейл и которые не отказались от рассылок, посылает письма со списком присоединенных результатов; списком КЛБ-команд, в которые их включили; списком клубов, в которые их включили.</li>
	<li>Генерирует календарь серий по регионам для Надежды.</li>
</ol>
<br/><br/>

<h3 id="backup">9. Резервное копирование</h3>
<br/>
<p>Вся база данных четыре дня в неделю в 4 часа ночи копируется на Google Drive в аккаунт probegorg.backup@gmail.com в файл /backup/mysql/dumpX.sql.bz2,
где X — день недели (1 — понедельник, 7 — воскресенье). Таким образом, всё время хранится 4 версии базы за последние 7 дней.
<br/>
Все желающие могут раз в пару месяцев делать себе копию этого файла куда-нибудь на локальный диск, чтобы было ещё спокойнее.</p>
<p>Сразу после этого туда же в папку /backup/httpdocs копируется всё содержимое FTP-сервера.</p>
<p>Отвечает за оба пункта скрипт /home/admin/scripts/googledrive_sync.sh . Текущее расписание crontab, отвечающего за ежедневный запуск
скриптов, — в файле /home/admin/scripts/parkrun_crontab.txt .</p>
<p>Весь код сайта на python лежит в папке /home/admin/parkrun . А. Ч. периодически синхронизирует его с репозиторием
https://bitbucket.org/AlekseiChernov/probeg (репозиторий закрытый; желающие получить доступ к нему, пишите).</p>
<br/><br/>

<h3 id="bash">10. Работа через командную строку</h3>
<br/>
<p>Для всех действий в этом разделе сначала нужно зайти на probeg.org по SSH (если знаете логин и пароль) и выполнить команды:</p>
<pre>
cd parkrun
source ~/python/bin/activate
</pre>

<h3 id="loading_results_shell">10A. Загрузка результатов из командной строки</h3>
<p>Большие протоколы (больше 2-3 тысяч строк) загрузить через веб-интерфейс обычно не получается из-за таймаута сервера. Такие протоколы можно загружать следующей командой:</p>
<pre>
python manage.py process_protocol --race=&lt;id старта&gt; --sheet=&lt;номер листа, начиная с 0&gt; [--try_load] [--delete_old_results]
</pre>
<p>Описания аргументов:</p>

<p>&lt;id старта&gt; — id дистанции нужного забега, в которую вы хотите загрузить результаты. Не перепутайте с id всего забега! Если URL страницы кончается на /race/NNN — вам нужно как раз число NNN. Если URL кончается на /event/NNN — это неправильный номер, он вам сейчас не нужен.
<br/>&lt;номер листа, начиная с 0&gt; — номер листа в протоколе XLS/XLSX, который нужно обработать. Чаще всего нужен первый лист; в таком случае вводите 0.
<br/>--try_load — укажите этот параметр, если уже всё проверили, и результаты с данного листа можно загружать. Сначала обязательно запускайте без этого параметра!
<br/>--delete_old_results — ровно то же, что и выбрать пункт «Что делать со старыми результатами: удалить все» при обычной загрузке протокола.
<br/>--try_get_gender_from_group — на эту команду скрипт обращает внимание, только если нет столбца «Пол», а столбец «Группа» есть. Тогда пытаемся определить пол по первому символу группы: М, Ч, Ю — мужчины, Ж, F, W, Д, K, N — женщины.
<br/>--all_are_male — на эту команду скрипт обращает внимание, только если нет ни столбца «Пол», ни столбца «Группа». Тогда все результаты считаются мужскими.
<br/>--all_are_female — на эту команду скрипт обращает внимание, только если нет ни столбца «Пол», ни столбца «Группа». Тогда все результаты считаются женскими.
</p>

<p>Итак, сначала запускаете без всяких try_load и внимательно читаете вывод скрипта: те ли взяты забег, дистанция, протокол, лист? Все ли столбцы правильно распознаны? Если всё в порядке и ошибок не найдено, постучите три раза по дереву, добавляйте нужный параметр и загружайте результаты.</p>
<p>Если гибкости будет не хватать — скажем, понадобится загрузить не из первого XLS-протокола — пишите, будем добавлять параметры.</p>
<br/><br/>

<h3 id="adding_parkrun">10Б. Добавление новой серии паркранов</h3>
<p>Команда <code>python manage.py parkrun_update</code> запускается каждый вторник в 11:00 и скачивает новые результаты всех российских паркранов, а также создаёт ещё не созданные паркраны на 35 дней вперёд.</p>

<p>Что нужно делать, когда появляется новая серия, у неё появляется страничка на parkrun.ru и дата первого забега:</p>
<ol>
	<li><a href="{% url 'editor:series_create' %}">Создаём новую серию</a>. Указываем у неё название (например, «parkrun Дружба»), сайт (главную страницу про забег на parkrun.ru), группы ВКонтакте и в FB (ищем по названию забега), город, место старта.</li>
	<li>Создаём первый забег в этой серии. Достаточно указать название забега, повторяющее название серии, без всяких номеров, и дату. Номер, время старта, дистанцию можно не указывать.</li>
</ol>
<p>Всё! Недостающие данные добавятся сами, несколько следующих событий в серии (вплоть до через 35 дней от сегодня) создадутся сами, зелёное сообщение об этом наверху экрана появится.</p>
<br/><br/>

<h3 id="create_footprint">10В. Создание слепков КЛБМатча</h3>
<p>делается командой <code>python manage.py generate_klb_reports</code>. Если в процессе выполнения выдаётся ошибка, попробуйте ещё раз или напишите в чат.</p>
<br/><br/>

<h3 id="fix_permissions">10Г. Если протокол или фотография выдают ошибку 403 Forbidden</h3>
<p>Выполните команду <code>chmod --silent 664 /var/www/vhosts/probeg.org/httpdocs/dj_media/uploads/* /var/www/vhosts/probeg.org/httpdocs/new/img/*</code>. Почему-то при загрузке больших файлов иногда выставляются неправильные права у файла.</p>
<br/><br/>

<h3 id="instructions">11. Инструкции по работе</h3>
<h4>У человека изменилась фамилия</h4>
<p>Сохраняем у бегуна только последнюю фамилию. Для каждой предыдущей фамилии создаём «дополнительное имя»; у каждого такого имени указываем и имя, и отчество бегуна, если они известны. Это обеспечит наиболее точный поиск результатов бегуна.</p>

<h4>Нам приходит письмо с заголовком вроде «Undelivered Mail Returned to Sender»</h4>
<p>Если содержание письма — «пройдите по ссылке и подтвердите ваш емейл», то ничего не делаем: человек опечатался в своём адресе, скоро заметит, скорее всего.</p>
<p>Иначе проверяем, что проблема именно на стороне пользователя: в описании ошибки есть Quota Exceeded, User doesn't exist или что-то в этом роде. Если так и есть, помечаем адрес как неподтверждённый, чтобы дальнейших рассылок ему не шло, на странице пользователя жмём синюю кнопку «Профиль» и убираем галочку «Адрес электронной почты подтверждён». Теперь, пока пользователь не укажет и не подтвердит новый, работающий емейл, новых рассылок ему слать не будем.</p>
<p>Если же в письме пишут, что наше письмо посчитали спамом — обычно этим грешат mail.ru и yahoo.com — пишите в чат.</p>

<h4>Нам приходит письмо с заголовком «unsubscribe-newsletters»</h4>
<p>Это человек получил нашу новостную рассылку и нажал «Отписаться». На <a href="{% url 'editor:users' %}">странице всех пользователей</a> находим нужного по адресу почты, на его странице жмём кнопку «Профиль» и убираем галочку «Хочу получать письма с новостями сайта». Если галочка и так не стоит, ничего не делаем.</p>

<h4>В неодобренных действиях есть действие с результатом <code>None</code></h4>
<p>Это означает, что результат уже был удалён по какой-то причине (нами, самим добавившим его пользователем, или автоматом при замене на офиц. результат). Просто одобряем, чтобы это действие исчезло из списка.</p>
<br/><br/>

<h3 id="asana">12. Порядок работы с Asana</h3>
<p><a href="https://app.asana.com/0/279199829973675/list">Asana</a> — наш менеджер задач. Туда — точнее, в проект «Поступившие письма на info@probeg.org» — попадают все письма, отправленные на адреса info@ или klb@probeg.org не с этих адресов и не с личных адресов админов сайта. Если наш адрес (info@ или klb@) был только в «Скрытой копии» при отправлении, письмо туда не попадёт. Помимо сайта, есть удобное приложение Asana в Google Play и App Store.</p>

<p>Наша общая цель — 1. обрабатывать как можно быстрее письма из Асаны, на которые нужно дать ответ, 2. держать там полный список писем, на которые ответ ещё не дан.</p>

<h4>Порядок действий при работе</h4>

<ol><li>Находите письмо, задачу из которого хотите выполнить прямо сейчас и которое никем не занято — то есть в Асане в строке с ним виден кружок с зелёным человечком или просто белый кружок.</li>
	<li>Забираете задачу себе: кликаете на этот кружок (либо слева возле заголовка письма, либо в правой части, где письмо откроется целиком), выбираете из выпавшего списка своё имя, кликаете по нему.</li>
	<li>Выполняете нужную работу и, если нужно, пишете ответ на письмо с копией на info@.</li>
	<li>Помечаете задачу как сделанную: кликаете по маленькому кружку с белой галочкой слева от заголовка письма. Письмо пропадёт из общего списка, но его можно будет найти поиском в Асане.</li>
</ol>

<h4>Правила обработки писем</h4>

<ol><li>Перед началом работы с любым письмом проверьте в Асане, что никто другой его ещё не занял.</li>
	<li>Забирайте задачу себе, только если займётесь ей прямо сейчас или если считаете, что выполнить её обязательно должны именно вы.</li>
	<li>Спам, не имеющий отношения к бегу, просто удаляйте: кликаете на заголовок письма и жмёте Tab+Backspace, либо жмёте три на три горизонтальные точки справа сверху и выбираете пункт «Delete task».</li>
	<li>Письма, про которые вы уверены, что они не требуют ответа, забирайте себе и сразу помечайте как следанные.</li>
	<li>Не помечайте как сделанные письма, которые к вам не привязаны. Все «отработанные» письма должны быть к кому-то привязаны — а именно, к человеку, который либо выполнил всю нужную работу по этому письму, либо посчитал, что работа по письму не требуется.</li>
	<li>Если вы точно знаете, кому предназначено ещё не занятое письмо, можете повесить ему эту задачу — кликнуть на кружок и выбрать её имя.</li>
</ol>

<h4>Правила обработки специальных типов писем</h4>

<ol>
	<li>TODO</li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
</ol>

<h3 id="tech_details">13. Технические подробности</h3>
<p>Python 2.7, Django 1.11 (+ python-social-auth, django-simple-menu, django-tinymce, facebook-sdk, twython, xlrd), MySQL.</p>
<p>Для перезапуска веб-сервера нужно выполнить на SSH-сервере команду <code>touch /home/admin/chernov/touch_me</code></p>

	</div>
	<div class="col-md-3 col-sm-4">
		{% include 'results/panel_header.html' with title='Содержание' style='default' %}
			<p><a href="#googledocs">1. Важные гугл-документы</a></p>
			<p><a href="#structure">2. Структура сайта</a></p>
			<p><a href="#triplet">3. Серия-забег-дистанция-результат-сплит</a></p>
			<p><a href="#runners">4. Бегуны, пользователи сайта, участники КЛБМатча, участники паркранов</a></p>
			<p><a href="#combining_users">4А. Пример работы с пользователями: объединение двух пользователей</a></p>
			<p><a href="#combining_klb_persons">4B. Объединение двух участников КЛБМатча</a></p>
			<p><a href="#doc_types">5. Типы документов</a></p>
			<p><a href="#loading_results">6. Загрузка результатов из протокола</a></p>
			<p><a href="#loading_results_what_happens">6А. Что происходит, когда вы загрузили результаты из протокола</a></p>
			<p><a href="#loading_results_rare">6Б. Тонкие моменты при загрузке результатов</a></p>
			<p><a href="#klb">7. Обработка результатов в КЛБМатч</a></p>
			<p><a href="#klb_status_what_happens">7А. Что происходит при открытии страницы «Статус КЛБМатча»</a></p>
			<p><a href="#robot">8. Что делает Робот Присоединитель</a></p>
			<p><a href="#backup">9. Резервное копирование</a></p>
			<p><a href="#bash">10. Работа через командную строку</a></p>
			<p><a href="#loading_results_shell">10А. Загрузка результатов из командной строки</a></p>
			<p><a href="#adding_parkrun">10Б. Добавление новой серии паркранов</a></p>
			<p><a href="#create_footprint">10В. Создание слепков КЛБМатча</a></p>
			<p><a href="#fix_permissions">10Г. Если протокол или фотография выдают ошибку 403 Forbidden</a></p>
			<p><a href="#instructions">11. Инструкции по работе</a></p>
			<p><a href="#asana">12. Порядок работы с Asana</a></p>
			<p><a href="#tech_details">13. Технические подробности</a></p>
		{% include 'results/panel_footer.html' %}
	</div>
</div>
{% endblock %}
